<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Players</h1>
    <div class="col">
        <div class="row mx-0">
            <label class="col fw-bold d-flex align-items-center justify-content-end" for="year">Year</label>
            <select id="year" class="col form-select" aria-label="player">
                <% for (const year of years) { %>
                <option value="<%= year.year %>" <%= year.current ? "selected" : "" %>><%= year.year %></option>
                <% }; %>
            </select>
        </div>
    </div>
</div>
<% if (players.length > 0) { %>
<table class="table table-sm table-bordered table-dark mb-0 lh-lg">
    <thead>
        <tr>
            <% for (const header of ['Name', 'Rounds Played', 'Infractions', 'Title Held', 'Drinks Bought']) { %>
            <td scope="col">
                <div class="d-flex justify-content-center align-items-center">
                    <%= header %>
                </div>
            </td>
            <% }; %>
        </tr>
    </thead>
    <tbody class="table-light">
        <% for (const player of players) { %>
        <tr>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/players/<%= player.id %>">
                        <%= player.name.friendly %>
                    </a>
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <%= player.rounds %>
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <%= player.infractions %>
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-evenly align-items-center">
                    <% for (const title of player.titles) { %>
                    <div>
                        <div class="btn btn-<%= title.class %>" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= title.title %> <%= title.value %>">
                            <div class="d-flex p-0">
                                <i class="mx-auto bi <%= title.icon %>"></i>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <%= player.drinks %>
                </div>
            </td>
        </tr>
        <% }; %>
    </tbody>
</table>
<% } else { %>
<div>
    There are currently no players
</div>
<% }; %>
<script>
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const TITLES = JSON.parse('<%- JSON.stringify(titles) %>');
</script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/players/change-year.js"></script>