<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Players</h1>
    <div class="col">
        <div class="row mx-0">
            <label class="col fw-bold d-flex align-items-center justify-content-end" for="year">Year</label>
            <select id="year" class="col form-select" aria-label="player">
                <% for (const year of years) { %>
                <option value="<%= year.year %>" <%= year.current ? "selected" : "" %>><%= year.year %></option>
                <% }; %>
            </select>
        </div>
    </div>
</div>
<table id="players" class="<%= players.length === 0 ? "d-none " : "" %>lh-lg mb-0 table table-bordered table-dark table-sm"<%= players.length === 0 ? " visibility=hidden" : "" %>>
    <thead>
        <tr>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Player
                </div>
                <div class="d-md-none">
                    Plyr.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Rounds Played
                </div>
                <div class="d-md-none">
                    Rnds.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Quorums Played
                </div>
                <div class="d-md-none">
                    Qrms.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Infractions
                </div>
                <div class="d-md-none">
                    Infrcts.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Titles Held
                </div>
                <div class="d-md-none">
                    Ttls.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Drinks Bought
                </div>
                <div class="d-md-none">
                    Drnks.
                </div>
            </td>
        </tr>
    </thead>
    <tbody class="text-center align-middle table-light">
        <% for (const player of players) { %>
        <tr>
            <td>
                <a href="/players/<%= player.id %>">
                    <div class="d-none d-md-block">
                        <%= player.name.friendly %>
                    </div>
                    <div class="d-md-none">
                        <%= player.name.initials.short %>
                    </div>
                </a>
            </td>
            <td>
                <%= player.rounds %>
            </td>
            <td>
                <%= player.quorums %>
            </td>
            <td>
                <%= player.infractions %>
            </td>
            <td>
                <div class="d-flex justify-content-evenly align-items-center">
                    <% for (const title of player.titles) { %>
                    <div class="btn btn-<%= title.class %> py-0 px-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= title.title %> <%= title.value %>">
                        <i class="bi <%= title.icon %>"></i>
                    </div>
                    <% }; %>
                </div>
            </td>
            <td>
                <%= player.drinks %>
            </td>
        </tr>
        <% }; %>
    </tbody>
</table>
<div id="key" class="border border-2 <%= players.length === 0 ? "d-none " : "" %></div>d-md-none g-2 my-3 mx-0 pb-2 rounded row row-cols-3"<%= players.length === 0 ? " visibility=hidden" : "" %>>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">Pl</span><span class="text-muted">a</span><span class="fw-bold">y</span><span class="text-muted">e</span><span class="fw-bold">r</span>
    </div>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">Q</span><span class="text-muted">uo</span><span class="fw-bold">r</span><span class="text-muted">u</span><span class="fw-bold">ms</span>
    </div>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">T</span><span class="text-muted">i</span><span class="fw-bold">tl</span><span class="text-muted">e</span><span class="fw-bold">s</span>
    </div>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">R</span><span class="text-muted">ou</span><span class="fw-bold">nds</span>
    </div>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">Inf</span><span class="text-muted">a</span><span class="fw-bold">ct</span><span class="text-muted">ion</span><span class="fw-bold">s</span>
    </div>
    <div class="align-items-center col d-flex justify-content-center">
        <span class="fw-bold">Dr</span><span class="text-muted">i</span><span class="fw-bold">nks</span>
    </div>
</div>
<div id="no-data" class="<%= players.length > 0 ? "d-none" : "" %>"<%= players.length > 0 ? " visibility=hidden" : "" %>>
    There is no data for the <%= years[0].year %> season
</div>
<script>
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const TITLES = JSON.parse('<%- JSON.stringify(titles) %>');
</script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/players/change-year.js"></script>