<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Players</h1>
    <div class="col">
        <div class="row mx-0">
            <label class="col fw-bold d-flex align-items-center justify-content-end" for="year">Year</label>
            <select id="year" class="col form-select" aria-label="player">
                <% for (const year of years) { %>
                <option value="<%= year.year %>" <%= year.current ? "selected" : "" %>><%= year.year %></option>
                <% }; %>
            </select>
        </div>
    </div>
</div>
<% if (players.length > 0) { %>
<table id="players" class="table table-sm table-bordered table-dark mb-0 lh-lg">
    <thead>
        <tr>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Player
                </div>
                <div class="d-md-none">
                    Plyr.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Rounds Played
                </div>
                <div class="d-md-none">
                    Rnds.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Quorums Played
                </div>
                <div class="d-md-none">
                    Qrms.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Infractions
                </div>
                <div class="d-md-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Infractions">
                   Infrcts.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Titles Held
                </div>
                <div class="d-md-none">
                    Ttls.
                </div>
            </td>
            <td class="text-center align-middle" scope="col">
                <div class="d-none d-md-block">
                    Drinks Bought
                </div>
                <div class="d-md-none">
                    Drnks.
                </div>
            </td>
        </tr>
    </thead>
    <tbody class="text-center align-middle table-light">
        <% for (const player of players) { %>
        <tr>
            <td>
                <a href="/players/<%= player.id %>">
                    <div class="d-none d-md-block">
                        <%= player.name.friendly %>
                    </div>
                    <div class="d-md-none">
                        <%= player.name.initials.short %>
                    </div>
                </a>
            </td>
            <td>
                <%= player.rounds %>
            </td>
            <td>
                <%= player.quorums %>
            </td>
            <td>
                <%= player.infractions %>
            </td>
            <td>
                <div class="d-flex justify-content-evenly align-items-center">
                    <% for (const title of player.titles) { %>
                    <div class="btn btn-<%= title.class %> py-0 px-1" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= title.title %> <%= title.value %>">
                        <i class="bi <%= title.icon %>"></i>
                    </div>
                    <% }; %>
                </div>
            </td>
            <td>
                <%= player.drinks %>
            </td>
        </tr>
        <% }; %>
    </tbody>
</table>
<% } else { %>
<div>
    There are currently no players
</div>
<% }; %>
<script>
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const TITLES = JSON.parse('<%- JSON.stringify(titles) %>');
</script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/players/change-year.js"></script>