<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1><%= player.name.friendly %></h1>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 gx-5 mb-3">
    <div>
        <h4>
            Rounds
        </h4>
        <% if (rounds.length > 0) { %>
        <table class="table table-sm table-bordered table-dark mb-0 lh-lg player-table">
            <thead>
                <tr>
                    <% for (const header of ['Date', 'Course', 'Player']) { %>
                    <td class="text-center" scope="col">
                        <%= header %>
                    </td>
                    <% }; %>
                </tr>
            </thead>
            <tbody class="table-light">
                <% for (const round of rounds) { %>
                <tr>
                    <td class="text-center">
                        <a href="/rounds/<%= round.id %>">
                            <%= round.formattedDate.friendly %>
                        </a>
                    </td>
                    <td class="text-center">
                        <!-- <a href="/courses/<%= round.course.id %>"> -->
                            <%= round.course.name %>
                        <!-- </a> -->
                    </td>
                    <td>
                        <div class="d-flex flex-column">
                            <% for (const score of round.scores) { %>
                            <% if (score.player.id === player.id) continue; %>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/players/<%= score.player.id %>">
                                    <%= score.player.name.knownAs %>
                                </a>
                            </div>
                            <% }; %>
                        </div>
                    </td>
                </tr>        
                <% }; %>
            </tbody>
        </table>
        <% } else { %>
        <div>
            No rounds played
        </div>
        <% }; %>
    </div>
    <div>
        <h4>
            Demerits
        </h4>
        <% if (player.demerits.length > 0) { %>
        <table class="table table-sm table-bordered table-dark mb-0 lh-lg player-table">
            <thead>
                <tr>
                    <% for (const header of ['Date', 'Demerits', 'Titles']) { %>
                    <td class="text-center" scope="col">
                        <%= header %>
                    </td>
                    <% }; %>
                </tr>
            </thead>
            <tbody class="table-light">
                <% for (const demerit of player.demerits) { %>
                <tr>
                    <td class="text-center">
                        <a href="/demerits/edit?d=<%= demerit.date %>">
                            <%= demerit.date %>
                        </a>
                    </td>
                    <td class="text-center">
                        <%= demerit.demerits %>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div>
                                <% for (const title of demerit.titles) { %>
                                <% const a = actions.find(({ method }) => method === title.method); %>
                                <% const t = titles.find(({ value }) => value === title.name); %>
                                <div class="btn btn-<%= a.class %> me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= a.title %> <%= t.value %>">
                                    <div class="d-flex p-0">
                                        <i class="mx-auto bi <%= t.icon %>"></i>
                                    </div>
                                </div>
                                <% }; %>
                            </div>
                        </div>
                    </td>
                </tr>        
                <% }; %>
            </tbody>
        </table>
        <% } else { %>
        <div>
            No demerits earned
        </div>
        <% }; %>
    </div>
    <div>
        <h4>
            Drinks
        </h4>
        <% if (player.drinks.length > 0) { %>
        <table class="table table-sm table-bordered table-dark mb-0 lh-lg player-table">
            <thead>
                <tr>
                    <% for (const header of ['Date', 'Drinks']) { %>
                    <td class="text-center" scope="col">
                        <%= header %>
                    </td>
                    <% }; %>
                </tr>
            </thead>
            <tbody class="table-light">
                <% for (const drink of player.drinks) { %>
                <tr>
                    <td class="text-center">
                        <a href="/demerits/drinks/edit?d=<%= drink.date %>">
                            <%= drink.date %>
                        </a>
                    </td>
                    <td class="text-center">
                        <%= drink.drinks %>
                    </td>
                </tr>        
                <% }; %>
            </tbody>
        </table>
        <% } else { %>
        <div>
            No drinks bought
        </div>
        <% }; %>
    </div>
</div>