<% layout('layouts/boilerplate') %>
<% const incomplete = true %>
<h1>Edit Rules</h1>
<% if (incomplete) { %>
<h6 class="text-muted">Last modified on <%= lastModified.dateParts.fullDate %></h6>
<% } else { %>
<h6 class="text-muted">Last modified by <%= lastModified.user || 'someone who wants to remain anonymous' %> on <%= lastModified.dateParts.fullDate %></h6>
<% }; %>
<form class="mb-3" method="POST" action="/rules">
    <% sections.forEach((section, sIndex) => { %>
    <section class="border border-3 rounded-3 mb-3 p-3">
        <div class="row border border-2 rounded-2 mx-0 mb-3 py-2">
            <label for="s<%= sIndex %>|t" class="col-3 col-md-2 col-xxl-1 col-form-label">Heading</label>
            <div class="col-9 col-md-10 col-xxl-11">
                <textarea id="s<%= sIndex %>|t" class="form-control" name="s<%= sIndex %>[title]" rows="1"><%= section.title %></textarea>
            </div>
        </div>        
        <div class="border border-2 rounded-2 mb-3 py-2">
            <% section.description.forEach((description, dIndex) => { %>
            <div class="row mx-0">
                <div class="col-3 col-md-2 col-xxl-1">
                    <label for="<%= `s${sIndex}|d${dIndex}` %>" class="col-form-label<%= dIndex > 0 ? " d-none" : "" %>" <%= dIndex > 0 ? "visibility=hidden" : "" %>>Description</label>
                </div>
                <div class="col-6 col-md-8 col-xxl-10">
                    <textarea id="<%= `s${sIndex}|d${dIndex}` %>" class="form-control mb-2" name="s<%= sIndex %>[description]" rows="1"><%= description %></textarea>
                </div>
                <div class="col-3 col-md-2 col-xxl-1 ">
                    <div class="d-flex align-items">
                        <div class="btn btn-danger mx-auto" data-action="remove-description">Remove</div>
                    </div>
                </div>
            </div>
            <% }); %>
            <div class="row d-flex align-items mx-0 px-2">
                <div class="btn btn-primary mx-auto<%= section.description.length > 0 ? " col-10" : "col-12"  %>" data-action="add-description">Add Description</div>
            </div>
        </div>
        <!-- needs a function creating to loop through nested sections -->
        <% if (section.sections.length > 0 || !incomplete) { %>
        <div class="border border-2 rounded-2 mb-3 py-2">
            <ol class="mb-0 p-0">
                <% section.sections.forEach((breakdown, bIndex) => { %>
                <div class="row mx-0">
                    <div class="col-3 col-md-2">
                        <label for="s<%= sIndex %>|b<%= bIndex %>" class="col-form-label<%= bIndex > 0 ? " d-none" : "" %>" <%= bIndex > 0 ? "visibility=hidden" : "" %>>Breakdown</label>
                    </div>
                    <% if (incomplete) { %>
                    <li class="col-6 col-md-8">
                    <% } else { %>
                    <li class="col-6 col-md-8 mb-2 pb-2 border-2 border-bottom">
                    <% }; %>
                        <% breakdown.description.forEach((description, dIndex) => { %>
                        <textarea id="s<%= sIndex %>|b<%= bIndex %>" class="form-control mb-2" name="s<%= sIndex %>[sections]" rows="1"><%= description %></textarea>
                        <% }); %>
                        <% if (!incomplete) { %>
                        <div class="row">
                            <div class="btn btn-primary col-10 mx-auto" data-action="new-breakdown">New Breakdown</div>
                        </div>
                        <% }; %>
                    </li>
                    <div class="col-3 col-md-2<%= incomplete ? "" : " mb-2 pb-2" %>">
                        <div class="d-flex align-items">
                            <div class="btn btn-danger mx-auto" data-action="remove-breakdown">Remove</div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <div class="row d-flex align-items mx-0 px-2">
                    <div class="btn btn-primary mx-auto<%= section.sections.length > 0 ? " col-10" : " col-12"  %>" data-action="add-breakdown">Add Breakdown</div>
                </div>
            </ol>
        </div>
        <% }; %>
        <div class="row mx-0">
            <div class="btn btn-danger" data-action="remove-section">Remove Section</div>
        </div>
    </section>
    <% }); %>
    <div class="mb-3 border border-3 rounded-3 p-3">
        <div class="row mx-0">
            <div class="btn btn-primary" data-action="add-section" data-element="s">Add Section</div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/rules">Cancel</a>
            <input class="btn btn-success col-5 container" type="submit" value="Submit">
        </div>
    </div>
</form>
<script src="/scripts/resize-textareas.js"></script>
<script>
    const addDescriptions = document.querySelectorAll('[data-action="add-description"]');
    const addBreakdowns = document.querySelectorAll('[data-action="add-breakdown"]');
    const addSections = document.querySelectorAll('[data-action="add-section"]');

    const removeDescriptions = document.querySelectorAll('[data-action="remove-description"]');
    const removeBreakdowns = document.querySelectorAll('[data-action="remove-breakdown"]');
    const removeSections = document.querySelectorAll('[data-action="remove-section"]');
    
    for (const addDescription of addDescriptions) addDescription.addEventListener('click', addDescriptionFunction);
    for (const addBreakdown of addBreakdowns) addBreakdown.addEventListener('click', addBreakdownFunction);
    for (const addSection of addSections) addSection.addEventListener('click', addSectionFunction);

    for (const removeDescription of removeDescriptions) removeDescription.addEventListener('click', removeRowFunction);
    for (const removeBreakdown of removeBreakdowns) removeBreakdown.addEventListener('click', removeRowFunction);
    for (const removeSection of removeSections) removeSection.addEventListener('click', removeSectionFunction);

    function updateSectionReference() {
        const sections = document.querySelectorAll('section');
        sections.forEach((section, sectionIndex) => {
            const groupings = section.querySelectorAll('section > [class*="border"]');
            groupings.forEach((group, groupIndex) => {
                switch (groupIndex) {
                    case 0:
                        // heading
                        const textArea = group.querySelector('textarea');
                        if (!textArea) return;
                        group.querySelector('label').setAttribute('for', `s${sectionIndex}|t`);
                        textArea.setAttribute('id', `s${sectionIndex}|t`);
                        textArea.setAttribute('name', `s${sectionIndex}[title]`);
                        break;
                    case 1:
                        //description
                        const descriptionRows = group.querySelectorAll('[class*="row"]');
                        descriptionRows.forEach((description, descriptionIndex) => {
                            const textArea = description.querySelector('textarea');
                            if (!textArea) return;
                            description.querySelector('label').setAttribute('for', `s${sectionIndex}|d${descriptionIndex}`);
                            textArea.setAttribute('id', `s${sectionIndex}|d${descriptionIndex}`);
                            textArea.setAttribute('name', `s${sectionIndex}[description]`);
                        });
                        break;
                    case 2:
                        //breakdown
                        const breakdownRows = group.querySelectorAll('.row .mx-0');
                        breakdownRows.forEach((breakdown, breakdownIndex) => {
                            const textArea = breakdown.querySelector('textarea');
                            if (!textArea) return;
                            breakdown.querySelector('label').setAttribute('for', `s${sectionIndex}|b${breakdownIndex}`);
                            textArea.setAttribute('id', `s${sectionIndex}|b${breakdownIndex}`);
                            textArea.setAttribute('name', `s${sectionIndex}[sections]`);
                        });
                        break;
                    default:
                        break;
                };
            });
        });
    };

    

    function createElement(options) {
        const newElement = document.createElement(options.type || 'div');
        options.classList && newElement.classList.add( ...options.classList );
        if (options.attributes) for (const attribute of options.attributes) newElement.setAttribute(attribute.id, attribute.value);
        if (options.innerText) newElement.innerText = options.innerText;
        options.addEventListener && newElement.addEventListener(options.addEventListener.type, options.addEventListener.listener, options.addEventListener.options)
        if (options.children) for (const child of options.children) newElement.appendChild(createElement(child));
        return newElement;
    };

    function removeRowFunction() {
        const rowToBeRemoved = this.closest('div[class*="row"]');
        const borderedRow = rowToBeRemoved.parentElement;
        rowToBeRemoved.remove();
        const remainingChildren = borderedRow.querySelectorAll('div[class*="col-"]:not([class*="btn"])');
        if (remainingChildren.length > 0) {
            const firstChildLabel = remainingChildren[0].querySelector('label');
            firstChildLabel.classList.remove('d-none')
            firstChildLabel.removeAttribute('visibility');
        } else borderedRow.querySelector('.btn').classList.remove('col-10');
    };

    function removeSectionFunction() {
        this.closest('section').remove();
    };

    function focusElement(element) {
        element.focus();
        element.select();
    };

    function addDescriptionFunction() {
        const borderedRow = this.closest('div[class*="border"]');
        const childrenCount = borderedRow.querySelectorAll('div[class*="row"]').length - 1;
        const reference = `${this.dataset.element}|d-${childrenCount + 1}`;
        const addDescriptionParentElement = this.parentElement;

        const label = {
            type: 'label',
            classList: ['col-form-label'],
            attributes: [{ id: 'for', value: reference }],
            innerText: 'Description'
        };

        if (childrenCount) {
            label.classList.push('d-none')
            label.attributes.push({ id: 'visibility', value: 'hidden' });
        };

        const labelParent = {
            classList: ['col-3', 'col-md-2', 'col-xxl-1'],
            children: [label]
        };

        const textArea = {
            type: 'textarea',
            classList: ['form-control', 'mb-2'],
            attributes: [
                { id: 'id', value: reference },
                { id: 'name', value: `${this.dataset.element}[description]` },
                { id: 'rows', value: 1 }
            ],
            addEventListener: {
                type: 'input',
                listener: onInput,
                options: { once: false }
            }
        };

        const textAreaParent = {
            classList: ['col-6', 'col-md-8', 'col-xxl-10'],
            children: [textArea]
        };

        const remove = {
            classList: ['btn', 'btn-danger', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'remove-description' }],
            innerText: 'Remove',
            addEventListener: {
                type: 'click',
                listener: removeRowFunction
            }
        };

        const removeParent = {
            classList: ['d-flex', 'align-items'],
            children: [remove]
        };

        const removeGrandParent = {
            classList: ['col-3', 'col-md-2', 'col-xxl-1'],
            children: [removeParent]
        };

        const newRow = {
            classList: ['row', 'mx-0'],
            children: [
                labelParent,
                textAreaParent,
                removeGrandParent
            ]
        };

        const newRowElement = createElement(newRow);

        borderedRow.insertBefore(newRowElement, addDescriptionParentElement);

        focusElement(newRowElement.querySelector('textarea'));

        this.classList.remove('col-12');
        this.classList.add('col-10');
    };

    function addBreakdownFunction() {
        const orderedListElement = this.closest('ol');
        const childrenCount = orderedListElement.querySelectorAll('div[class*="row"]').length - 1;
        const reference = `s-50|d-${childrenCount + 1}`;
        const addBreakdownParentElement = this.parentElement;

        const label = {
            type: 'label',
            classList: ['col-form-label'],
            attributes: [{ id: 'for', value: reference }],
            innerText: 'Breakdown'
        };

        if (childrenCount) {
            label.classList.push('d-none')
            label.attributes.push({ id: 'visibility', value: 'hidden' });
        };

        const labelParent = {
            classList: ['col-3', 'col-md-2'],
            children: [label]
        };

        const textArea = {
            type: 'textarea',
            classList: ['form-control', 'mb-2'],
            attributes: [
                { id: 'id', value: reference },
                { id: 'name', value: `s50[description]` },
                { id: 'rows', value: 1 }
            ],
            addEventListener: {
                type: 'input',
                listener: onInput,
                options: { once: false }
            }
        };

        const newBreakdown = {
            classList: ['btn', 'btn-primary', 'col-10', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'new-breakdown' }],
            innerText: 'New Breakdown'
        };

        const newBreakdownParent = {
            classList: ['row'],
            children: [newBreakdown]
        };

        const listItemElement = {
            type: 'li',
            classList: ['col-6', 'col-md-8', 'mb-2', 'pb-2', 'border-2', 'border-bottom'],
            // children: [textArea, newBreakdownParent]
            children: [textArea]
        };  

        const remove = {
            classList: ['btn', 'btn-danger', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'remove-breakdown' }],
            innerText: 'Remove',
            addEventListener: {
                type: 'click',
                listener: removeRowFunction
            }
        };

        const removeParent = {
            classList: ['d-flex', 'align-items'],
            children: [remove]
        };

        const removeGrandParent = {
            classList: ['col-3', 'col-md-2', 'mb-2', 'pb-2'],
            children: [removeParent]
        };

        const newRow = {
            classList: ['row', 'mx-0'],
            children: [labelParent, listItemElement, removeGrandParent]
        };

        const newRowElement = createElement(newRow);

        orderedListElement.insertBefore(newRowElement, addBreakdownParentElement);

        focusElement(newRowElement.querySelector('textarea'));

        this.classList.remove('col-12');
        this.classList.add('col-10');

    };

    function addSectionFunction() {
        const form = this.closest('form');
        const nextIndex = form.querySelectorAll('section').length;
        const sectionReference = `${this.dataset.element}-${nextIndex}`;

        const headingLabel = {
            type: 'label',
            classList: ['col-3', 'col-md-2', 'col-xxl-1', 'col-form-label'],
            attributes: [{ id: 'for', value: `${sectionReference}|t` }],
            innerText: 'Heading'
        };

        const headingTextArea = {
            type: 'textarea',
            classList: ['form-control'],
            attributes: [
                { id: 'id', value: `${sectionReference}|t` },
                { id: 'name', value: `${sectionReference}[title]` },
                { id: 'rows', value: 1 }
            ],
            addEventListener: {
                type: 'input',
                listener: onInput,
                options: { once: false }
            }
        };        

        const headingTextAreaParent = {
            classList: ['col-9', 'col-md-10', 'col-xxl-11'],
            children: [headingTextArea]
        };

        const heading = {
            classList: ['row', 'border', 'border-2', 'rounded-2', 'mx-0', 'mb-3', 'py-2'],
            children: [headingLabel, headingTextAreaParent]
        };

        const descriptionReference = `${sectionReference}|d-0`;

        const descriptionLabel = {
            classList: ['col-form-label'],
            attributes: [{ id: 'for', value: descriptionReference }],
            innerText: 'Description'
        };

        const descriptionLabelParent = {
            classList: ['col-3', 'col-md-2', 'col-xxl-1'],
            children: [descriptionLabel]
        };

        const descriptionTextArea = {
            type: 'textarea',
            classList: ['form-control', 'mb-2'],
            attributes: [
                { id: 'id', value: descriptionReference },
                { id: 'name', value: descriptionReference },
                { id: 'rows', value: 1 }
            ],
            addEventListener: {
                type: 'input',
                listener: onInput,
                options: { once: false }
            }
        };

        const descriptionTextAreaParent = {
            classList: ['col-6', 'col-md-8', 'col-xxl-10'],
            children: [descriptionTextArea]
        };

        const removeDescription = {
            classList: ['btn', 'btn-danger', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'remove-description' }],
            innerText: 'Remove',
            addEventListener: {
                type: 'click',
                listener: removeRowFunction
            }
        };

        const removeDescriptionParent = {
            classList: ['d-flex', 'align-items'],
            children: [removeDescription]
        };

        const removeDescriptionGrandParent = {
            classList: ['col-3', 'col-md-2', 'col-xxl-1'],
            children: [removeDescriptionParent]
        };

        const addDescription = {
            classList: ['btn', 'btn-primary', 'col-10', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'add-description' }],
            innerText: 'Add Description',
            addEventListener: {
                type: 'click',
                listener: addDescriptionFunction
            }
        };
        
        const addDescriptionRow = {
            classList: ['row', 'd-flex', 'align-items', 'mx-0', 'px-2'],
            children: [addDescription]
        };

        const descriptionRow = {
            classList: ['row', 'mx-0'],
            children: [descriptionLabelParent, descriptionTextAreaParent, removeDescriptionGrandParent]
        };

        const description = {
            classList: ['border', 'border-2', 'rounded-2', 'mb-3', 'py-2'],
            children: [descriptionRow, addDescriptionRow]
        };

        const breakdownLabel = {
            type: 'label',
            classList: ['col-form-label'],
            attributes: [{ id: 'for', value: 'some-reference' }],
            innerText: 'Breakdown'
        };

        const breakdownLabelParent = {
            classList: ['col-3', 'col-md-2'],
            children: [breakdownLabel]
        }

        const breakdownTextArea = {
            type: 'textarea',
            classList: ['form-control', 'mb-2'],
            attributes: [
                { id: 'id', value: ''},
                { id: 'name', value: ''},
                { id: 'rows', value: 1 }
            ]
        };

        const newBreakdown = {
            classList: ['btn', 'btn-primary', 'col-10', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'new-breakdown' }],
            innerText: 'New Breakdown',
            // addEventListener: {
                // type: 'click',
                // listener: newBreakdownFunction
            // }
        };
        
        const newBreakdownParent = { classList: ['row'], children: [newBreakdown] };

        const breakdownContentParent = {
            type: 'li',
            classList: ['col-6', 'col-md-8', 'mb-2', 'pb-2', 'border-2', 'border-bottom'],
            // children: [breakdownTextArea, newBreakdownParent]
            children: [breakdownTextArea]
        };        

        const removeBreakdown = {
            classList: ['btn', 'btn-danger', 'mx-auto'],
            attributes: [{ id: 'data-action', value: 'remove-breakdown' }],
            innerText: 'Remove',
            addEventListener: {
                type: 'click',
                listener: removeRowFunction
            }
        };

        const removeBreakdownParent = {
            classList: ['d-flex', 'align-items'],
            children: [removeBreakdown]
        };

        const removeBreakdownGrandParent = {
            classList: ['col-3', 'col-md-2', 'mb-2', 'pb-2'],
            children: [removeBreakdownParent]
        };

        const breakdownRow = {
            classList: ['row', 'mx-0'],
            children: [breakdownLabelParent, breakdownContentParent, removeBreakdownGrandParent]
        };       

        const addBreakdown = {
            classList: ['btn', 'btn-primary', 'mx-auto', 'col-10'],
            attributes: [{ id: 'data-action', value: 'add-breakdown' }],
            innerText: 'Add Breakdown',
            addEventListener: {
                type: 'click',
                listener: addBreakdownFunction
            }
        };

        const addBreakdownRow = {
            classList: ['row', 'd-flex', 'align-items', 'mx-0', 'px-2'],
            children: [addBreakdown]
        };

        const breakdownList = {
            type: 'ol',
            classList: ['mb-0', 'p-0'],
            children: [breakdownRow, addBreakdownRow]
        };

        const breakdown = {
            classList: ['border', 'border-2', 'rounded-2', 'mb-3', 'py-2'],
            children: [breakdownList]
        };

        const sectionElementOptions = {
            type: 'section',
            classList: ['border', 'border-3', 'rounded-3', 'mb-3', 'p-3'],
            children: [heading, description, breakdown]
        };

        const sectionElement = createElement(sectionElementOptions);

        form.insertBefore(sectionElement, this.closest('form > div'));

        const removeSectionElementOption = {
            classList: ['btn', 'btn-danger'],
            attributes: [{ id: 'data-action', value: 'remove-section' }],
            innerText: 'Remove Section',
            addEventListener: {
                type: 'click',
                listener: removeSectionFunction
            }
        };
        
        const removeSectionParentElementOptions = {
            classList: ['row', 'mx-0'],
            children: [removeSectionElementOption]
        };

        const removeSectionParentElement = createElement(removeSectionParentElementOptions)
    
        sectionElement.appendChild(removeSectionParentElement);

        sectionElement.querySelector('textarea').focus();
        sectionElement.querySelector('textarea').select();
    };
</script>