<% layout('layouts/boilerplate') %>    
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Register</h1>
</div>
<form class="row gy-3 needs-validation check-password" method="POST" action="/<%= user.id %>?_method=PUT" novalidate>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto px-3">
                <div class="row gy-3 py-3">
                    <%- include('../partials/forms/account/email', { id: 'email', name: `${user.id}[email]`, value: user.email }) %>
                    <%- include('../partials/forms/account/password', { id: 'password', name: `${user.id}[password]`, value: '', options: 'autocomplete="current-password"' }) %>
                    <%- include('../partials/forms/account/password-check', { id: 'password-check' }) %>
                    <%- include('../partials/forms/account/title', { id: 'title', name: `${user.id}[title]`, titles: nameTitles, value: user.name.title }) %>
                    <%- include('../partials/forms/account/full-name', { id: 'full-name', name: `${user.id}[name][full]`, value: '' }) %>
                    <%- include('../partials/forms/account/preferred-name', { id: 'preferred-name', name: `${user.id}[name][preferred]`, value: user.name.preferred }) %>
                    <%- include('../partials/forms/account/image', { id: 'image', name: `${user.id}[image]`, value: '' }) %>
                    <%- include('../partials/forms/account/birthday', { id: 'birthday', name: `${user.id}[birthday]`, date, value: user.birthday }) %>
                    <%- include('../partials/forms/account/gender', { id: 'gender', name: `${user.id}[gender]`, genders, value: user.gender }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/<%= user.id %>">Back</a>
            <input id="primary-button" class="btn btn-primary col-5 container" type="submit" value="Save">
        </div>
    </div>
</form>