<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Register</h1>
</div>
<form class="row gy-3 needs-validation check-password" method="POST" action="/register" novalidate>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto px-3">
                <div class="row gy-3 py-3">

                    <!-- reorder so that full name is first field -->
                    <!-- check whether player already exists by matching with entered name -->

                    <%- include('../partials/forms/account/username', { id: 'username', name: 'username', value: '' }) %>
                    <%- include('../partials/forms/account/email', { id: 'email', name: 'email', value: '' }) %>
                    <%- include('../partials/forms/account/register-password', { id: 'new-password', label: 'Password', name: 'new-password', value: '', options: 'autocomplete=current-password required' }) %>
                    <%- include('../partials/forms/account/password-check', { id: 'password-check' }) %>
                    <%- include('../partials/forms/account/title', { id: 'title', name: 'name[title]', titles: nameTitles, value: '' }) %>
                    <%- include('../partials/forms/account/full-name', { id: 'full-name', name: 'name[full]', value: '' }) %>
                    <%- include('../partials/forms/account/preferred-name', { id: 'preferred-name', name: 'name[preferred]', value: '' }) %>
                    <%- include('../partials/forms/account/image', { id: 'image', name: 'image', value: '' }) %>
                    <%- include('../partials/forms/account/birthday', { id: 'birthday', name: 'birthday', date, value: '' }) %>
                    <%- include('../partials/forms/account/gender', { id: 'gender', name: 'gender', genders, value: '' }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/">Home</a>
            <input id="primary-button" class="btn btn-primary col-5 container" type="submit" value="Register">
        </div>
    </div>
</form>
<div class="col d-flex mb-3">
    <a class="mx-auto" href="/login">Already Registered?</a>
</div>
<script src="/scripts/validate-forms.js"></script>