<% layout('layouts/boilerplate') %>
<!-- add tooltips -->
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Demerits</h1>
    <div class="col">
        <div class="row mx-0">
            <label class="col fw-bold d-flex align-items-center justify-content-end" for="year">Year</label>
            <select id="year" class="col form-select" aria-label="player">
                <% for (const year of years) { %>
                <option value="<%= year.year %>" <%= year.current ? "selected" : "" %>><%= year.year %></option>
                <% }; %>
            </select>
        </div>
    </div>
</div>
<% if (data.length > 0) { %>
<section>
    <table id="demerit" class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <% for (const player of data[0].players) { %>
                <th class="align-top" scope="col" data-player>
                    <div class="d-flex flex-column">
                        <a class="link-light text-center" href="/players/<%= player.id %>">
                            <div class="d-none d-md-block">
                                <%= player.name.knownAs %>
                            </div>
                            <div class="d-md-none">
                                <%= player.name.initials.short %>
                            </div>
                        </a>
                        <% for (const title of player.titles) { %>
                        <% const t = titles.find(({ value }) => title === value); %>
                        <!-- <a class="col d-flex link-light p-0" href=""> -->
                        <div class="col d-flex p-0">
                            <i class="mx-auto bi <%= t.icon %>"></i>
                        </div>
                        <!-- </a> -->
                        <% }; %>
                    </div>
                </th>
                <% }; %>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <th id="new-demerit-head" class="table-secondary" colspan="<%= data[0].players.length + 1 %>" scope="row">
                    <div class="row">
                        <div class="col d-flex align-items-center">Demerits</div>
                        <div class="col">
                            <div class="d-flex">
                                <a class="btn btn-primary me-0 ms-auto" href="/demerits/new">New Demerit</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <% for (const demerit of data[0].demerits) { %>
            <tr class="align-middle" data-date>
                <th class="d-flex justify-content-end" scope="row">
                    <a href="/demerits/edit?d=<%= demerit.date %>">
                        <%= demerit.date %>
                    </a>
                </th>
                <% for (const p of data[0].players) { %>
                <% const d = demerit.players.find(({ player }) => player === p.id); %>
                <td class="text-center">
                    <a href="/demerits/edit?d=<%= demerit.date %>&p=<%= p.id %>">
                        <%= d.demerits || '' %>
                    </a>
                </td>
                <% }; %>
            </tr>
            <% }; %>
            <%- include('../partials/tables/demerits/row', { players: data[0].players, title: 'Total', property: 'demerits' }) %>
            <tr class="align-middle">
                <th id="new-drink-head" class="table-secondary" colspan="<%= data[0].players.length + 1 %>" scope="row">
                    <div class="row">
                        <div class="col d-flex align-items-center">Drinks</div>
                        <div class="col">
                            <div class="d-flex">
                                <a class="btn btn-primary me-0 ms-auto" href="/demerits/drinks/new">New Drink</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <% for (const drink of data[0].drinks) { %>
            <tr class="align-middle" data-date>
                <th class="d-flex justify-content-end" scope="row">
                    <a href="/demerits/drinks/edit?d=<%= drink.date %>">
                        <%= drink.date %>
                    </a>
                </th>
                <% for (const p of data[0].players) { %>
                <% const d = drink.players.find(({ player }) => player === p.id); %>
                <td class="text-center">
                    <a href="/demerits/drinks/edit?d=<%= drink.date %>&p=<%= p.id %>">
                        <%= d.drinks || '' %>
                    </a>
                </td>
                <% }; %>
            </tr>
            <% }; %>
            <%- include('../partials/tables/demerits/row', { players: data[0].players, title: 'Owed', property: 'owed' }) %>
            <%- include('../partials/tables/demerits/row', { players: data[0].players, title: 'Balance', property: 'balance' }) %>
            <tr id ="bbq-row" class="align-middle">
                <th scope="row">BBQ</th>
                <% for (const player of data[0].players) { %>
                <td class="text-center" data-player>
                    <% if (player.bbq) { %>
                    <img src="/images/bbq.png" alt="bbq">
                    <% }; %>
                </td>
                <% }; %>
            </tr>
        </tbody>
    </table>
</section>
<% }; %>
<script>
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const allTitles = JSON.parse('<%- JSON.stringify(titles) %>');
</script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/demerits/change-year.js"></script>