<% layout('layouts/boilerplate') %>
<!-- add tooltips -->
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Demerits</h1>
    <!-- <div class="col">
        <div class="row">
            <label class="col d-flex align-items-center justify-content-end" for="year">Year</label> -->
            <!-- need to add listener for a change event (for AJAX) or submit the change as a form to trigger a page load -->
            <!-- <select id="year" class="col form-select" aria-label="player">
                <% years.forEach((year, index) => { %>
                <option value="<%= year %>" <%= index === 1 ? "selected" : "" %>><%= year %></option>
                <% }); %>
            </select>
        </div>
    </div> -->
</div>
<% if (data.players.length > 0) { %>
<section>
    <table id="demerit" class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <% for (const player of data.players) { %>
                <th class="align-top" scope="col">
                    <div class="row">
                        <div class="d-flex">
                            <div class="mx-auto">
                                <div>
                                    <%= player.name.knownAs %>
                                </div>
                                <!-- need to update year value -->
                                <!-- <a href="/demerits/edit?y=<%= years[0] %>&p=<%= player.id %>">
                                    <%= player.name.knownAs %>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% for (const title of player.titles) { %>
                        <% const t = titles.find(({ value }) => title === value); %>
                        <div class="col d-flex p-0">
                            <i class="mx-auto bi <%= t.icon %>"></i>
                        </div>
                        <!-- add link to titles page to see history of titles? -->
                        <!-- <a class="col d-flex p-0" href="">
                            <i class="mx-auto bi <%= t.icon %>"></i>
                        </a> -->
                        <% }; %>
                    </div>
                </th>
                <% }; %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="table-secondary" colspan="<%= data.players.length + 1 %>" scope="row">
                    <div class="row">
                        <div class="col d-flex align-items-center">Demerits</div>
                        <div class="col">
                            <div class="d-flex">
                                <a class="btn btn-primary me-0 ms-auto" href="/demerits/new">New Demerit</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <% for (const demerit of data.demerits) { %>
            <tr>
                <th class="d-flex justify-content-end" scope="row">
                    <a href="/demerits/edit?d=<%= demerit.date %>">
                        <%= demerit.date %>
                    </a>
                </th>
                <% for (const p of data.players) { %>
                <% const d = demerit.players.find(({ player }) => player === p.id); %>
                <% const value = d.demerits ? d.demerits : ""; %> 
                <td>
                    <div class="d-flex">
                        <div class="mx-auto">
                            <a href="/demerits/edit?d=<%= demerit.date %>&p=<%= p.id %>">
                                <%= value %>
                            </a>
                        </div>
                    </div>
                </td>

                <% }; %>
            </tr>
            <% }; %>
            <%- include('../partials/tables/demerits/row', { players: data.players, title: 'Total', property: 'demerits' }) %>
            <tr>
                <th class="table-secondary" colspan="<%= data.players.length + 1 %>" scope="row">
                    <div class="row">
                        <div class="col d-flex align-items-center">Drinks</div>
                        <div class="col">
                            <div class="d-flex">
                                <a class="btn btn-primary me-0 ms-auto" href="/demerits/drinks/new">New Drink</a>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <% for (const drink of data.drinks) { %>
            <tr>
                <th class="d-flex justify-content-end" scope="row">
                    <a href="/demerits/drinks/edit?d=<%= drink.date %>">
                        <%= drink.date %>
                    </a>
                </th>
                <% for (const p of data.players) { %>
                <% const d = drink.players.find(({ player }) => player === p.id); %>
                <% const value = d.drinks ? d.drinks : ""; %>
                <td>
                    <div class="d-flex">
                        <div class="mx-auto">
                            <a href="/demerits/drinks/edit?d=<%= drink.date %>&p=<%= p.id %>">
                                <%= value %>
                            </a>
                        </div>
                    </div>
                </td>

                <% }; %>
            </tr>
            <% }; %>
            <%- include('../partials/tables/demerits/row', { players: data.players, title: 'Owed', property: 'owed' }) %>
            <%- include('../partials/tables/demerits/row', { players: data.players, title: 'Balance', property: 'balance' }) %>
            <tr>
                <th scope="row">BBQ</th>
                <% for (const player of data.players) { %>
                    <td>
                        <div class="d-flex">
                            <div class="mx-auto">
                                <% if (player.bbq) { %>
                                <img src="/images/bbq.png" alt="bbq">
                                <% }; %>
                            </div>
                        </div>
                    </td>
                <% }; %>
            </tr>
        </tbody>
    </table>
</section>
<% } else { %>
<div>
    There are currently no players to add demerits for
</div>
<% }; %>