<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <div class="col">
        <h1 class="d-inline">Courses</h1>
    </div>
    <% if (EDIT_ACCESS) { %>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="/rounds/courses/add">Add</a>
        </div>
    </div>
    <% }; %>
</div>
<div class="row gy-4">
    <% for (const course of courses) { %>
    <div class="col-12">
        <div class="row row-cols-1 g-2">
            <div class="col">
                <h3 class="text-decoration-underline">
                    <a href="/rounds/courses/<%= course.id %>">
                        <%= course.name %>
                    </a>
                </h3>
            </div>
            <div class="col">
                <table class="course-tees table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr class="d-none d-lg-table-row">
                            <th scope="col" rowspan="2">
                                <div class="text-center">
                                    Tee
                                </div>
                            </th>
                            <th scope="col" colspan="3">
                                <div class="text-center">
                                    Par
                                </div>
                            </th>
                            <th scope="col" colspan="3">
                                <div class="text-center">
                                    Course Rating
                                </div>
                            </th>
                            <th scope="col" rowspan="2">
                                <div class="text-center">
                                    Bogey Rating
                                </div>
                            </th>
                            <th scope="col" colspan="3">
                                <div class="text-center">
                                    Slope Rating
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="d-table-cell d-lg-none" scope="col">
                                <div class="text-center">
                                    Tee
                                </div>
                            </th>
                            <th scope="col">
                                <div class="d-none d-lg-block text-center">
                                    18
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    Par
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Front
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Back
                                </div>
                            </th>
                            <th scope="col">
                                <div class="d-none d-lg-block text-center">
                                    18
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    Course
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Front
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Back
                                </div>
                            </th>
                            <th scope="col">
                                <div class="d-none d-lg-block text-center">
                                    18
                                </div>
                                <div class="d-block d-lg-none text-center">
                                    Slope
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Front
                                </div>
                            </th>
                            <th class="d-none d-lg-table-cell" scope="col">
                                <div class="text-center">
                                    Back
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const tee of course.tees) { %>
                        <tr class="<%= tee.colour.class.table %>">
                            <td class="align-middle">
                                <div class="d-none d-md-block text-center">
                                    <%= tee.names.long %>
                                </div>
                                <div class="d-block d-md-none text-center">
                                    <%= tee.names.short %>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="text-center">
                                    <%= tee.par.full %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.par.front %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.par.back %>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="text-center">
                                    <%= tee.ratings.course.full %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.ratings.course.front %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.ratings.course.back %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.ratings.bogey %>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="text-center">
                                    <%= tee.ratings.slope.full %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.ratings.slope.front %>
                                </div>
                            </td>
                            <td class="align-middle d-none d-lg-table-cell">
                                <div class="text-center">
                                    <%= tee.ratings.slope.back %>
                                </div>
                            </td>
                        </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% }; %>
</div>