<div class="row my-2 mx-0">
    <label for="<%= id %>" class="col-4 col-form-label">Date</label>
    <input id="<%= id %>" class="col form-control me-2" type="date" name="<%= name %>" value="<%= value %>" required>
    <%- include('../invalid-feedback', { value: 'date' }) %>
</div>