<div class="row my-3 mx-0">
    <%- include('label', { id, label: 'Date' }) %>
    <input id="<%= id %>" class="col form-control me-2" type="date" name="<%= name %>" value="<%= value %>" required>
    <%- include('../invalid-feedback', { value: 'date' }) %>
</div>