<div class="col-12">
    <div class="row mx-0">
        <%- include('./components/label', { id, label: 'Rule' }) %>
        <select id="<%= id %>" class="col form-select me-2" aria-label="player" name="<%= name %>" required>
            <% if (!selected) { %>
            <option value="" selected disabled>Select rule</option>
            <% }; %>
            <% for (const rule of rules) { %>
            <!-- find the optimum number of characters -->
            <option value="<%= rule._id %>"<%= selected === String(rule.id) ? " selected" : "" %>><%= `${rule.index}. ${rule.description[0]}` %></option>
            <!-- <option value="<%= rule._id %>"<%= selected === String(rule.id) ? " selected" : "" %>><%= `${rule.index}. ${rule.description[0].substring(0,23)}${rule.description[0].length > 20 ? '...' : ''}` %></option> -->
            <% }; %>
        </select>
        <%- include('../invalid-feedback', { value: 'rule' }) %>
    </div>
</div>