<!-- Sortable Drag and Drop Functionality -->
<!-- https://www.youtube.com/watch?v=jfYWwQrtzzY -->

<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <div class="col-12 mb-2">
        <h1 class="d-inline me-2">Edit Charter</h1>
        <% if (charter.created.version) { %>
        <h6 class="d-inline text-muted">v.<%= charter.created.version %></h6>
        <% }; %>
    </div>
    <div class="col-12">
        <h6 class="text-muted mb-0">Created <%= charter.created.user ? `by ${charter.created.user}` : '' %> on <%= charter.created.fullDate %></h6>
    </div>
</div>
<form class="row gy-3 mb-3 mx-0" method="POST" action="/charter">
    <% for (const section of charter.sections) { %>
    <section class="col-12 col-lg-10 col-xl-8 border border-3 rounded-3 mx-auto px-2">
        <div class="row gy-3 pt-3 pb-2">
            <div class="col-12">
                <div class="row gy-2 border border-1 rounded-2 pb-2 mx-0">
                    <div class="col-3 col-md-2 d-flex align-items-baseline">
                        <div class="fw-bold py-1">Heading</div>
                    </div>
                    <div class="col-9 col-md-10 ps-0 pe-2">
                        <label class="col-form-label d-none" visibility="hidden">Heading</label>
                        <textarea class="form-control" rows="1"><%= section.title %></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row gy-2 border border-1 rounded-2 pb-2 mx-0">
                    <% if (section.description && section.description.length > 0) { %>
                    <% section.description.forEach((description, dIndex) => { %>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 col-md-2 d-flex align-items-baseline">
                                <div class="fw-bold py-1<%= dIndex > 0 ? " d-none" : "" %>" <%= dIndex > 0 ? "visibility=hidden" : "" %>>Description</div>
                            </div>
                            <div class="col d-flex justify-content-end ps-0 pe-2">
                                <label class="col-form-label d-none" visibility="hidden">Description</label>
                                <textarea class="form-control"><%= description %></textarea>
                                <div class="d-flex flex-column justify-content-between ps-2">
                                    <div class="mb-2">
                                        <div class="btn btn-danger p-1" data-type="button" data-operation="remove" data-section="description" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove Description">
                                            <div class="btn-close btn-close-white" aria-label="remove"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="btn btn-success p-1 plus" data-type="button" data-operation="new" data-section="description" data-bs-toggle="tooltip" data-bs-placement="left" title="New Description">
                                            <div class="btn-close btn-close-white" aria-label="new"></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>                        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 col-md-2 d-flex align-items-center">
                                <div class="fw-bold py-1">Description</div>
                            </div>
                            <div class="col d-grid ps-0 pe-2">
                                <div class="btn btn-success" data-type="button" data-operation="add" data-section="description">Add Description</div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
            <div class="col-12">
                <ol class="row gy-2 border border-1 rounded-2 mb-0 mx-0 ps-0 pb-2">
                    <% if (section.rules && section.rules.length > 0) { %>
                    <% section.rules.forEach((rule, rIndex) => { %>
                    <div class="col-12">
                        <div class="row gy-2">
                            <div class="col-12<%= rIndex === 0 ? " d-none" : "" %>"<%= rIndex === 0 ? " visibility=hidden" : "" %>>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-10 border-2 border-top"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3 col-md-2 d-flex align-items-baseline">
                                        <div class="fw-bold py-1<%= rIndex > 0 ? " d-none" : "" %>" <%= rIndex > 0 ? "visibility=hidden" : "" %>>Rules</div>
                                    </div>
                                    <li class="col px-0">
                                        <div class="row gy-2">
                                            <% for (const description of rule.description) { %>                                                    
                                            <div class="col-12">
                                                <div class="d-flex justify-content-end ps-0 pe-2">
                                                    <label class="col-form-label d-none" visibility="hidden">Rules</label>
                                                    <textarea class="form-control"><%= description %></textarea>
                                                    <div class="d-flex flex-column justify-content-between ps-2">
                                                        <div class="mb-2">
                                                            <div class="btn btn-danger p-1" data-type="button" data-operation="remove" data-section="rule" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove Rule">
                                                                <div class="btn-close btn-close-white" aria-label="remove"></div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="btn btn-success p-1 plus" data-type="button" data-operation="new" data-section="rule" data-bs-toggle="tooltip" data-bs-placement="left" title="New Rule">
                                                                <div class="btn-close btn-close-white" aria-label="new"></div>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }; %>                                                    
                                            <% if (rule.breakdown && rule.breakdown.length > 0) { %>
                                            <%- include('../partials/forms/charter/edit/breakdown', { breakdowns: rule.breakdown, level: 1 }) %>
                                            <% }; %>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <div class="d-flex align-items-center col-form-label px-2 btn btn-success" data-type="button" data-operation="add" data-section="breakdown">
                                            <i class="bi bi-arrow-return-right" aria-label="Breakdown"></i>
                                            <div class="ps-2">Breakdown</div>
                                        </div>
                                        <div class="col small-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row me-0">
                                            <div class="col d-flex justify-content-end">
                                                <label class="col-form-label ps-3 fw-bold">Demerits</label>
                                            </div>
                                            <div class="col-6 px-0">
                                                <input class="form-control" type="number" value="<%= rule.action && rule.action.demerits && rule.action.demerits !== 0 ? rule.action.demerits : 0 %>">
                                            </div>
                                            <div class="col small-width"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% for (const action of actions) { %>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row me-0">
                                            <div class="col d-flex justify-content-end">
                                                <div class="col-form-label ps-3 fw-bold"><%= action.title %> Title</div>
                                            </div>                    
                                            <div class="col-6 btn-group px-0" role="group" aria-label="Title checkbox toggle group">
                                                <% for (const title of titles) { %>
                                                <input class="btn-check" type="checkbox" autocomplete="off" value="<%= title.value %>"<%= rule.action && rule.action.titles && rule.action.titles.find(t => t.title === title.value && t.method === action.method) ? " checked" : "" %> data-method="<%= action.method %>">
                                                <label class="btn btn-outline-<%= action.class %>" data-bs-toggle="tooltip" data-bs-placement="<%= action.tooltip %>" title="<%= action.title %> <%= title.value %>">
                                                    <div class="d-flex p-0">
                                                        <i class="mx-auto bi <%= title.icon %>"></i>
                                                    </div>
                                                </label>
                                                <% }; %>
                                            </div>
                                            <div class="col small-width"></div>
                                        </div>                                                
                                    </div>
                                </div>
                            </div>
                            <% }; %>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>                    
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 col-md-2 d-flex align-items-center">
                                <div class="fw-bold py-1">Rules</div>
                            </div>
                            <div class="col d-grid ps-0 pe-2">
                                <div class="btn btn-success" data-type="button" data-operation="add" data-section="rule">Add Rules</div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </ol>
            </div>
            <div class="col-12 mt-2">
                <div class="row mx-0">
                    <div class="btn btn-danger" data-type="button" data-operation="remove" data-section="section">Remove Section</div>
                </div>
            </div>
        </div>
    </section>
    <% }; %>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-12 col-lg-10 col-xl-8 border border-3 rounded-3 mx-auto p-2">
                <div class="row mx-0">
                    <div class="btn btn-success" data-type="button" data-operation="add" data-section="section">Add Section</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="row g-4">
                    <div class="col">
                        <div class="row d-flex mx-0">
                            <a class="btn btn-warning" href="/rules">Cancel</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row d-flex mx-0">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/charter/tooltips.js"></script>
<script src="/scripts/resize-textareas.js"></script>
<script src="/scripts/charter/form-references.js"></script>
<script src="/scripts/charter/toggle.js"></script>
<script src="/scripts/charter/enable-listeners.js"></script>
<!-- <script src="/scripts/charter/drag.js"></script> -->