<ol class="pt-2">
    <% sections.forEach((section, sIndex) => { %>
    <% const reference = `${sectionReference}|s${sIndex}`; %>
    <div class="row mx-0 px-0">
        <div class="col-0">
            <label for="<%= reference %>|d" class="col-form-label d-none" visibility="hidden"></label>
        </div>                    
        <li class="col px-0">                        
            <div class="d-flex justify-content-end px-0">
                <textarea id="<%= reference %>|d" class="form-control" name="<%= reference %>|d"><%= section.description %></textarea>
                <div class="col d-flex flex-column justify-content-between px-2">
                    <div class="mb-2">
                        <div class="col btn btn-danger p-1" data-action="remove-row" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove Breakdown">
                            <div class="btn-close btn-close-white" aria-label="close"></div>
                        </div>
                    </div>
                    <div>
                        <div class="col btn btn-success p-1" data-action="add-breakdown" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Breakdown">
                            <div class="btn-close btn-close-white" aria-label="add"></div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('breakdown.ejs', { sections: section, sectionReference: reference }) %>
        </li>
    </div>
    <% }); %>
</ol>