<% for (let i = start; i < end + 1; i++) { %>
<tr>
    <td class="text-center align-middle">
        <%= i %>
    </td>
    <% for (const property of ['distance', 'par', 'strokeIndex']) { %>

    <td class="<%= tableClass %> text-center align-middle">
        <%= tee.holes[i - 1][property] %>
    </td>

    <!-- <td class="<%= tableClass %>">
        <div class="d-flex justify-content-center">
            <label for="<%= `hole-${i}|${property}` %>" class="form-label d-none"></label>
            <input id="<%= `hole-${i}|${property}` %>" class="form-control text-center" type="number" min="1" max="18" name="[hole][<%= property %>]" value="<%= tee.holes[i - 1][property] %>" disabled>
        </div>
    </td> -->
    <% }; %>
    <% scores.forEach((score, index) => { %>
    <td class="text-center align-middle">
        <%= score.shots[i - 1] || '' %>
    </td>
    <!-- <td>
        <div class="d-flex justify-content-center">
            <label for="<%= index %>|hole-<%= i %>" class="form-label d-none"></label>
            <input id="<%= index %>|hole-<%= i %>" class="form-control text-center" type="number" min="1" name="[<%= index %>][hole]" value="<%= score.shots[i - 1] || '' %>" disabled>
        </div>
    </td> -->
    <% }); %>
</tr>
<% }; %>