<% for (const score of playingGroup) { %>
<% if (EDIT_ACCESS) { %>
<div class="col-12 d-flex">
    <div class="flex-grow-1">
        <div class="row g-2">
            <div class="col">
                <div class="form-floating">
                    <select id="<%= `playing-group-${score.playingGroup.index}|${score.playingGroup.player}|id` %>" class="form-select text-capitalize" name="<%= `[${score.playingGroup.index}][${score.playingGroup.player}][id]` %>">
                    <option disabled>Select Player</option>
                    <% for (const player of players) { %>
                        <% if (score.player._id.toString() !== player._id.toString() && playingGroups.some(playingGroup => playingGroup.some(({ player }) => player._id === score.player._id))) continue; %>
                        <option value="<%= player.id %>"<%= player.id === score.player.id ? " selected" : "" %>><%= player.name.knownAs %></option>
                    <% }; %>
                    </select>
                    <label for="<%= `playing-group-${score.playingGroup.index}|${score.playingGroup.player}|id` %>" class="text-capitalize"><%= score.playingGroup.player.split('-').join(' ') %></label>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="form-floating">
                    <input id="<%= `playing-group-${score.playingGroup.index}|${score.playingGroup.player}|handicap` %>" class="form-control text-center" type="number" placeholder="Handicap" name="<%= `[${score.playingGroup.index}][${score.playingGroup.player}][handicap]` %>" value="<%= score.handicap %>" max="54">
                    <label for="<%= `playing-group-${score.playingGroup.index}|${score.playingGroup.player}|handicap` %>">Handicap</label>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex ps-2">
        <div class="btn btn-danger d-flex align-items-center" data-bs-placement="left" title="Remove Player">
            <div class="btn-close btn-close-white" aria-label="remove"></div>
        </div>
    </div>
</div>
<% continue; %>
<% }; %>
<div class="col d-flex">
    <div class="row g-3 px-2">
        <div class="border border-1 col rounded">
            <div class="p-2 row row-cols-1 text-center">
                <div class="col text-muted text-capitalize">
                    <%= score.playingGroup.player.value %>
                </div>
                <h4 class="col">
                    <%= score.player.name.knownAs %>
                </h4>
                <h5 class="col text-muted">
                    (<%= score.handicap %>)
                </h5>
                <h4 class="col">
                    <%= score.scores.shots.full %>
                </h4>
                <h5 class="col">
                    <span>(</span><span class="<%= score.classes.par.full %>"><%= score.scores.par.full %></span><span>)</span>
                </h5>
            </div>
        </div>
    </div>
</div>
<% }; %>
<% if (EDIT_ACCESS) { %>
<div class="col-12 mt-3">
    <button id="add-player" class="btn btn-success w-100" type="button">Add Player</button>
</div>
<% }; %>