<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Edit User</h1>
</div>
<form class="mb-3" method="POST" action="/users?_method=PUT&u=<%= user._id %>">
    <div class="row d-flex mb-3">
        <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto">
            <div class="row mx-0 my-2">
                <label for="first-name" class="col-4 col-form-label">
                    First Name
                </label>
                <input id="first-name" class="col form-control" type="text" name="user[name][first]" value="<%= user.name.first %>">
            </div>
            <div class="row mx-0 mb-2">
                <label for="middle-names" class="col-4 col-form-label">
                    Middle Name(s)
                </label>
                <input id="middle-names" class="col form-control" type="text" name="user[name][middle]" value="<%= user.name.middle.join(' ') %>">
            </div>
            <div class="row mx-0 mb-2">
                <label for="last-name" class="col-4 col-form-label">
                    Last Name
                </label>
                <input id="last-name" class="col form-control" type="text" name="user[name][last]" value="<%= user.name.last %>">
            </div>
            <div class="row mx-0 mb-2">
                <label for="known-as" class="col-4 col-form-label">
                    Known As
                </label>
                <input id="known-as" class="col form-control" type="text" name="user[name][knownAs]" value="<%= user.name.knownAs %>">
            </div>
            <div class="row mx-0 mb-2">
                <label for="role" class="col-4 col-form-label">
                    Role
                </label>
                <% if (founder) { %>
                <input id="role" type="hidden" name="user[role]" value="founder">
                <% }; %>
                <select id="role" class="col form-select" aria-label="role" name="user[role]" <%= founder ? "disabled" : "" %>>
                    <% if (founder) { %>
                    <option value="founder" selected>Founder</option>
                    <% } else { %>
                    <option value="user"<%= user.status === "user" ? " selected" : "" %>>User</option>
                    <option value="admin"<%= user.status === "admin" ? " selected" : "" %>>Admin</option>
                    <% }; %>
                </select>
            </div>
            <div class="row mx-0 mb-2">
                <label for="email" class="col-4 col-form-label">
                    Email
                </label>
                <input id="email" class="col form-control" type="email" name="user[email]" value="<%= user.email %>">
            </div>
            <% if (!founder) { %>
            <div class="row mx-0 mb-2">
                <label for="operation" class="d-none" visibility="hidden"></label>
                <input id="operation" class="btn btn-danger" data-type="button" data-operation="remove" value="Remove User" name="user[operation]" readonly>
            </div>
            <% }; %>
        </div>
    </div>
    <div class="mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/users">Cancel</a>
            <input class="btn btn-primary col-5 container" type="submit" value="Submit">
        </div>
    </div>
</form>
<script src="/scripts/toggle.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => toggle());
</script>