<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Edit User</h1>
</div>
<form class="row gy-3" method="POST" action="/users?_method=PUT&u=<%= user._id %>">
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto px-3">
                <div class="row gy-3 py-3">
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                First Name
                            </label>
                            <input id="first-name" class="col form-control me-2" type="text" name="user[name][first]" value="<%= user.name.first %>">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                Middle Name(s)
                            </label>
                            <input id="middle-names" class="col form-control me-2" type="text" name="user[name][middle]" value="<%= user.name.middle.join(' ') %>">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                Last Name
                            </label>
                            <input id="last-name" class="col form-control me-2" type="text" name="user[name][last]" value="<%= user.name.last %>">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                Known As
                            </label>
                            <input id="known-as" class="col form-control me-2" type="text" name="user[name][knownAs]" value="<%= user.name.knownAs %>">
                        </div>
                    </div>    
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                Role
                            </label>
                            <% if (founder) { %>
                            <input id="role" type="hidden" name="user[role]" value="founder">
                            <% }; %>
                            <select id="role" class="col form-select me-2" aria-label="role" name="user[role]"<%= founder ? " disabled" : "" %>>
                                <% if (founder) { %>
                                <option value="founder" selected>Founder</option>
                                <% } else { %>
                                <option value="user"<%= user.status === "user" ? " selected" : "" %>>User</option>
                                <option value="admin"<%= user.status === "admin" ? " selected" : "" %>>Admin</option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <div class="col-4 col-form-label d-flex align-items-center fw-bold">Status</div>
                            <div class="col d-flex align-items-center justify-content-around">
                                <div class="form-check form-check-inline">
                                    <input id="active" class="form-check-input" type="radio" name="user[status]" value="active"<%= user.status === "active" ? " checked" : "" %> disabled>
                                    <label for="active" class="form-check-label">Active</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="inactive" class="form-check-input" type="radio" name="user[status]" value="inactive"<%= user.status === "inactive" ? " checked" : "" %> disabled>
                                    <label for="inactive" class="form-check-label">Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="first-name" class="col-4 col-form-label d-flex align-items-center fw-bold">
                                Email
                            </label>
                            <input id="email" class="col form-control me-2" type="email" name="user[email]" value="<%= user.email %>">
                        </div>
                    </div>
                    <% if (!founder) { %>
                    <div class="col-12">
                        <div class="row mx-0">
                            <label for="operation" class="d-none" visibility="hidden"></label>
                            <input id="operation" class="btn btn-danger" data-type="button" data-operation="remove" value="Remove User" name="user[operation]" readonly>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/users">Cancel</a>
            <input class="btn btn-primary col-5 container" type="submit" value="Submit">
        </div>
    </div>
</form>
<script src="/scripts/demerits/toggle.js" defer></script>