<% layout('layouts/boilerplate') %>
<form class="mb-3" method="POST" action="/rounds/<%= id %>?_method=PUT" novalidate>
    <div class="d-flex my-3 pb-2 border-bottom border-1">
        <div class="flex-grow-1">
            <h1 class="d-inline me-2">
                <%= course.name %> on <span class="d-none d-lg-inline"><%= date.full %></span><span class="d-lg-none"><%= date.friendly %></span>
            </h1>
        </div>
        <% if (EDIT_ACCESS) { %>
        <div>
            <div class="d-flex justify-content-end">
                <input id="undo" class="btn btn-warning me-2 d-none" type="button" value="Undo" visibility="hidden" readonly>
                <input id="save" class="btn btn-primary me-2 d-none" type="submit" value="Save" visibility="hidden" readonly>
                <% if (ADMIN_ACCESS) { %>
                <input id="delete" class="btn btn-danger me-2" type="button" data-bs-toggle="modal" data-bs-target="#delete-modal" value="Delete" readonly>
                <% }; %>
            </div>
        </div>
        <% }; %>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="accordion" class="accordion">
                <div class="accordion-item">
                    <h2 id="round-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#round-accordion-item-body-parent" aria-expanded="false" aria-controls="round-accordion-item-body-parent">
                            Round
                        </button>
                    </h2>
                    <div id="round-accordion-item-body-parent" class="accordion-collapse collapse" aria-labelledby="round-accordion-item-heading">
                        <div class="accordion-body p-3">
                            <% if (EDIT_ACCESS) { %>
                            <div class="form-floating">
                                <input id="date" class="form-control" type="date" placeholder="Date" name="[round][date]" value="<%= date.datePicker %>" max="<%= currentDate %>" required>
                                <label for="date">
                                    Date
                                </label>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end">
                                        Please select a date.
                                    </div>
                                </div>
                            </div>
                            <% } else { %>
                            <h4 class="mb-0 px-3">
                                <%= date.full %>
                            </h4>
                            <% }; %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 id="course-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#course-accordion-item-body-parent" aria-expanded="false" aria-controls="course-accordion-item-body-parent">
                            Course
                        </button>
                    </h2>
                    <div id="course-accordion-item-body-parent" class="accordion-collapse collapse" aria-labelledby="course-accordion-item-heading">
                        <div class="accordion-body p-3">
                            <div class="row g-2">
                                <% if (EDIT_ACCESS) { %>
                                <div class="col">
                                    <div class="form-floating">
                                        <select id="course-select" class="form-select text-capitalize text-wrap" aria-label="course" name="[course][id]" required>
                                            <option disabled>
                                                Select Course
                                            </option>
                                            <% for (const c of courses) { %>
                                            <option value="<%= c.id %>" <%= c.id === course.id ? ' selected' : '' %>>
                                                <%= c.name %></option>
                                            <% }; %>
                                        </select>
                                        <label for="course-select">
                                            Course
                                        </label>
                                        <div class="invalid-feedback">
                                            <div class="d-flex justify-content-end">
                                                Please select a course.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-floating">
                                        <select id="tee-select" class="form-select text-capitalize" aria-label="tee" name="[course][tee]">
                                            <% for (const t of course.tees) { %>
                                            <option value="<%= t.id %>" <%= t._id == tee._id ? ' selected' : '' %>>
                                                <%= t.names.long %>
                                            </option>
                                            <% }; %>
                                        </select>
                                        <label for="tee-select">
                                            Tee
                                        </label>
                                    </div>
                                </div>
                                <% } else { %>
                                <h4 class="col-12 px-3">
                                    <%= `${course.name} off the ${tee.names.long} Tees` %>
                                </h4>
                                <% }; %>
                                <div class="col-12">
                                    <table id="tees" class="table table-sm table-bordered text-center mb-0">
                                        <thead class="table-dark">
                                            <tr class="d-none d-lg-table-row">
                                                <th scope="col" rowspan="2">
                                                    Tee
                                                </th>
                                                <th scope="col" rowspan="2">
                                                    Par
                                                </th>
                                                <th scope="col" colspan="3">
                                                    Course Rating
                                                </th>
                                                <th scope="col" rowspan="2">
                                                    Bogey Rating
                                                </th>
                                                <th scope="col" colspan="3">
                                                    Slope Rating
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="d-table-cell d-lg-none" scope="col">
                                                    Tee
                                                </th>
                                                <th class="d-table-cell d-lg-none" scope="col">
                                                    Par
                                                </th>
                                                <th scope="col">
                                                    <div class="d-none d-lg-block">
                                                        Full
                                                    </div>
                                                    <div class="d-block d-lg-none">
                                                        Course
                                                    </div>
                                                </th>
                                                <th class="d-none d-lg-table-cell" scope="col">
                                                    Front
                                                </th>
                                                <th class="d-none d-lg-table-cell" scope="col">
                                                    Back
                                                </th>
                                                <th scope="col">
                                                    <div class="d-none d-lg-block">
                                                        Full
                                                    </div>
                                                    <div class="d-block d-lg-none">
                                                        Slope
                                                    </div>
                                                </th>
                                                <th class="d-none d-lg-table-cell" scope="col">
                                                    Front
                                                </th>
                                                <th class="d-none d-lg-table-cell" scope="col">
                                                    Back
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (const t of course.tees) { %>
                                            <tr class="<%= t.colour.class.table %><%= t._id === tee._id ? ' fw-bold' : '' %>">
                                                <td class="align-middle">
                                                    <div class="d-none d-md-block">
                                                        <%= t.names.long %>
                                                    </div>
                                                    <div class="d-block d-md-none">
                                                        <%= t.names.short %>
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <%= t.par.full %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= t.ratings.course.full.toFixed(1) %>
                                                </td>
                                                <td class="d-none d-lg-table-cell align-middle">
                                                    <%= t.ratings.course.front.toFixed(1) %>
                                                </td>
                                                <td class="d-none d-lg-table-cell align-middle">
                                                    <%= t.ratings.course.back.toFixed(1) %>
                                                </td>
                                                <td class="d-none d-lg-table-cell align-middle">
                                                    <%= t.ratings.bogey.toFixed(1) %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= t.ratings.slope.full %>
                                                </td>
                                                <td class="d-none d-lg-table-cell align-middle">
                                                    <%= t.ratings.slope.front %>
                                                </td>
                                                <td class="d-none d-lg-table-cell align-middle">
                                                    <%= t.ratings.slope.back %>
                                                </td>
                                            </tr>
                                            <% }; %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 id="players-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#players-accordion-item-body-parent" aria-expanded="false" aria-controls="players-accordion-item-body-parent">
                            Players
                        </button>
                    </h2>
                    <div id="players-accordion-item-body-parent" class="accordion-collapse collapse" aria-labelledby="players-accordion-item-heading">
                        <div class="accordion-body p-3">
                            <% if (playingGroups.length > 1) { %>
                            <div class="row g-3 mx-0">
                                <% for (const playingGroup of playingGroups) { %>
                                <div class="border border-1 col-12 rounded p-3">
                                    <div class="g-3 row row-cols-1">
                                        <h5 class="col fw-light mb-0 ms-1">
                                            <%= `Playing Group ${playingGroup[0].playingGroup.index}` %>
                                        </h5>
                                        <div class="col">
                                            <div class="row justify-content-center gy-3">
                                                <%- include('../partials/rounds/playing-group', { playingGroup }) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }; %>
                            </div>
                            <% } else { %>
                            <div class="g-3 justify-content-center row row-cols-2 row-cols-md-4">
                                <%- include('../partials/rounds/playing-group', { playingGroup: playingGroups[0] }) %>
                            </div>
                            <% }; %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 id="game-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#game-accordion-item-body-parent" aria-expanded="false" aria-controls="game-accordion-item-body-parent">
                            Games
                        </button>
                    </h2>
                    <div id="game-accordion-item-body-parent" class="accordion-collapse collapse" aria-labelledby="game-accordion-item-heading">
                        <div class="accordion-body p-3">
                            <% if (!EDIT_ACCESS && games.length === 0) { %>
                            <div class="row gy-3">
                                <h4 class="mb-0 px-3 text-muted">
                                    No games were played
                                </h4>
                            </div>
                            <% } else { %>
                            <div class="g-3 justify-content-center row row-cols-1 row-cols-lg-2">
                                <% for (const game of games) { %>
                                <% if (EDIT_ACCESS) { %>
                                <div class="col-12">
                                    <div class="accordion">
                                        <div class="accordion-item">
                                            <h2 id="game-<%= game.index %>|heading" class="accordion-header">
                                                <button class="accordion-button" aria-controls="game-<%= game.index %>" aria-expanded="true" data-bs-target="#game-<%= game.index %>" data-bs-toggle="collapse" title="Game <%= game.index %>" type="button">
                                                    Game <%= game.index %>
                                                </button>
                                            </h2>
                                            <div id="game-<%= game.index %>" class="accordion-collapse collapse show" aria-labelledby="game-<%= game.index %>|heading">
                                                <div class="accordion-body">
                                                    <div class="row gx-2 gy-3">
                                                        <div class="col-12">
                                                            <div class="form-floating">
                                                                <select class="form-select text-capitalize text-wrap" id="game-<%= game.index %>|game" name="[game]['<%= game.index %>'][game]" aria-label="game select">
                                                                    <option disabled="true">Select Game</option>
                                                                    <% for (const GAME of GAMES.game.sort((a, b) => a.order - b.order)) { %>
                                                                    <option value="%= GAME.id %>"<%= GAME.id === game.game ? ' selected' : '' %>><%= GAME.value %></option>
                                                                    <% }; %>
                                                                </select>
                                                                <label for="game-<%= game.index %>|game">Game</label>
                                                                <div class="invalid-feedback">
                                                                    <div class="d-flex justify-content-end">Please select a game.</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 px-4">
                                                                <p id="game-<%= game.index %>|game-description" class="mb-0 text-center text-overflow text-muted" readonly="true" rows="1">
                                                                    <%= GAMES.game.find(({ id }) => id === game.game)?.description %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="fixed-game-element-height game-element position-relative">
                                                                <div class="g-1 pt-1 row">
                                                                    <% for (const ROUND_TYPE of ROUND_TYPES.filter(({ end, start }) => end !== 0 || start !== 0).sort((a, b) => a.order - b.order)) { %>
                                                                    <div class="col">
                                                                        <div class="d-flex justify-content-center">
                                                                            <div class="form-check form-check-inline">
                                                                                <input id="game-<%= game.index %>|round|<%= ROUND_TYPE.id %>" class="form-check-input" name="[game]['<%= game.index %>'][round]" type="radio" value="<%= ROUND_TYPE.id %>"<%= ROUND_TYPE.id === game.roundType ? ' checked' : '' %>>
                                                                                <label class="form-check-label" for="game-<%= game.index %>|round|<%= ROUND_TYPE.id %>"><%= ROUND_TYPE.value %></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }; %>
                                                                </div>
                                                                <div class="floating-label">Round</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="fixed-game-element-height game-element position-relative">
                                                                <div class="g-1 pt-1 row">
                                                                    <% for (const SCORING of GAMES.scoring.sort((a, b) => a.order - b.order)) { %>
                                                                    <% if (!GAMES.game.find(({ id }) => id === game.game).filters.scoring.includes(SCORING.id)) continue; %>
                                                                    <div class="col">
                                                                        <div class="d-flex justify-content-center">
                                                                            <div class="form-check form-check-inline">
                                                                                <input id="game-<%= game.index %>|scoring|<%= SCORING.id %>" class="form-check-input" name="[game]['<%= game.index %>'][<%= SCORING.id %>]" type="radio" value="<%= SCORING.id %>"<%= SCORING.id === game.scoring ? ' checked' : '' %>>
                                                                                <label class="form-check-label" for="game-<%= game.index %>|scoring|<%= SCORING.id %>"><%= SCORING.value %></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }; %>
                                                                </div>
                                                                <div class="floating-label">Scoring</div>
                                                            </div>
                                                            <div class="pt-2 px-4">
                                                                <p id="game-<%= game.index %>|scoring-description" class="mb-0 text-center text-overflow text-muted" readonly="true" rows="1">
                                                                    <%= GAMES.scoring.find(({ id }) => id === game.scoring)?.description %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12<%= game.scoring === 'shots' ? ' d-none' : '' %>"<%= game.scoring === 'shots' ? ' visibility=hidden' : '' %>>
                                                            <div class="fixed-game-element-height game-element position-relative">
                                                                <div class="row row-cols-1">
                                                                    <div class="col">
                                                                        <div class="g-1 pt-1 row">
                                                                            <% for (const HANDICAP of GAMES.handicap.sort((a, b) => a.order - b.order)) { %>
                                                                            <div class="col">
                                                                                <div class="d-flex justify-content-center">
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input id="game-<%= game.index %>|handicap|type|<%= HANDICAP.id %>" class="form-check-input" name="[game]['<%= game.index %>'][handicap][type]" type="radio" value="<%= HANDICAP.id %>"<%= HANDICAP.id === game.handicap.type ? ' checked' : '' %>>
                                                                                        <label class="form-check-label" for="game-<%= game.index %>|handicap|type|<%= HANDICAP.id %>"><%= HANDICAP.value %></label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }; %>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col col-sm-6 mx-auto">
                                                                                <div class="input-group p-3 pb-1"><label class="input-group-text"
                                                                                        for="game-<%= game.index %>|handicap-multiplier">Multiplier</label><input
                                                                                        class="form-control text-end" id="game-<%= game.index %>|handicap-multiplier" min="0"
                                                                                        name="[game]['<%= game.index %>'][handicap][multiplier]" step="0.01" type="number" value="<%= game.handicap.multiplier %>">
                                                                                    <div class="input-group-text">%</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="floating-label">Handicap</div>
                                                            </div>
                                                            <div class="pt-2 px-4">
                                                                <p class="mb-0 text-center text-overflow text-muted" id="game-<%= game.index %>|handicap-description" readonly="true" rows="1">
                                                                    <%= GAMES.handicap.find(({ id }) => id === game.handicap.type)?.description %>
                                                                </p>
                                                            </div>
                                                            <div class="pt-2 px-4">
                                                                <p class="mb-0 text-center text-overflow text-muted" id="game-<%= game.index %>|handicap-multiplier-description" readonly="true" rows="1">

                                                                    <!-- needs to calculate based on game.handicap.multiplier value -->
                                                                    Handicaps will be adjusted by 100.00%. For example, a handicap of 10 will be adjusted to 10 (10 x 100.00% = 10).

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="game-element">
                                                                <div id="game-<%= game.index %>|players" class="row g-3 p-3">
                                                                    <% for (const player of game.playingGroup) { %>
                                                                    <div class="col-12">
                                                                        <div class="border border-1 rounded p-2">
                                                                            <div class="g-2 row">
                                                                                <div class="align-items-center col-12 col-sm d-flex justify-content-center">
                                                                                    <div class="form-check form-switch">
                                                                                        <input id="game-<%= game.index %>|<%= player.playingGroup.player %>|participation" class="form-check-input" name="[game]['<%= game.index %>'][<%= player.playingGroup.player %>][participation]" type="checkbox" value="game-<%= game.index %>|<%= player.playingGroup.player %>|participation"<%= game.players.some(({ score }) => score.player._id == player.player._id) ? ' checked' : '' %>>
                                                                                        <label class="form-check-label<%= game.players.some(({ score }) => score.player._id == player.player._id) ? ' fw-bold' : '' %>" for="game-<%= game.index %>|<%= player.playingGroup.player %>|participation"><%= player.player.name.knownAs %></label>
                                                                                    </div>
                                                                                </div>

                                                                                <!-- <div class="col">
                                                                                    <div class="g-2 row row-cols-1">
                                                                                        <div class="d-flex custom-name-element">
                                                                                            <input id="game-<%= game.index %>|<%= player.playingGroup.player %>|team-none" class="flex-shrink-0 form-check-input me-2 my-auto" name="[game]['<%= game.index %>'][<%= player.playingGroup.player %>][team]" type="radio" value="none" checked="true">
                                                                                            <label class="form-check-label none-label" for="game-<%= game.index %>|<%= player.playingGroup.player %>|team-none">None</label>
                                                                                        </div>
                                                                                        <div class="d-flex custom-name-element">
                                                                                            <input id="game-<%= game.index %>|<%= player.playingGroup.player %>|team-a" class="flex-shrink-0 form-check-input me-2 my-auto" name="[game]['<%= game.index %>'][<%= player.playingGroup.player %>][team]" type="radio" value="a">
                                                                                            <label class="flex-fill form-check-label" for="game-<%= game.index %>|<%= player.playingGroup.player %>|team-a">
                                                                                                <input id="game-<%= game.index %>|<%= player.playingGroup.player %>|team-a|name" class="form-control" name="[game]['<%= game.index %>'][team][a]" value="A">
                                                                                                <label class="d-none" for="game-<%= game.index %>|<%= player.playingGroup.player %>|team-a|name" visibility="hidden"></label>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div> -->

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }; %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12<%= game.method ? '' : ' d-none' %>"<%= game.method ? '' : ' visibility=hidden' %>>
                                                            <div class="form-floating">
                                                                <select class="form-select text-capitalize text-wrap" id="game-<%= game.index %>|method" name="[game]['<%= game.index %>'][method]" aria-label="game method">
                                                                    <% for (const METHOD of GAMES.method.sort((a, b) => a.order - b.order)) { %>
                                                                    <% if (!GAMES.game.find(({ id }) => id === game.game).filters.method.includes(METHOD.id)) continue; %>
                                                                    <option value="%= METHOD.id %>"<%= METHOD.id === game.method ? ' selected' : '' %>><%= METHOD.value %></option>
                                                                    <% }; %>
                                                                </select>
                                                                <label for="game-<%= game.index %>|method">Method</label>
                                                            </div>
                                                            <div class="pt-2 px-4<%= game.method ? '' : ' d-none' %>"<%= game.method ? '' : ' visibility=hidden' %>>
                                                                <p class="mb-0 text-center text-overflow text-muted" id="game-<%= game.index %>|method-description" readonly="true" rows="1">
                                                                    <%= GAMES.method.find(({ id }) => id === game.method)?.description %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <input class="btn btn-danger w-100" type="button" value="Remove Game">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% continue; %>
                                <% }; %>
                                <div class="col">
                                    <div class="row g-3 px-2">
                                        <div class="border border-1 col rounded">
                                            <div class="row row-cols-1 p-2">
                                                <div class="col text-center text-muted text-capitalize">
                                                    <%= `Game ${game.index}` %>
                                                </div>
                                                <h4 class="col text-center">
                                                    <%= game.description %>
                                                </h4>
                                                <h5 class="col text-center">
                                                    <%= game.summary %>
                                                </h5>
                                                <div class="col text-center text-muted">
                                                    <%= game.participants %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }; %>
                            </div>
                            <% }; %>
                            <% if (EDIT_ACCESS) { %>
                            <div class="mt-3">
                                <button id="play-game" class="btn btn-success w-100" type="button">Add Game</button>
                            </div>
                            <% }; %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 id="scorecard-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button<%= EDIT_ACCESS ? ' collapsed' : '' %>" type="button" data-bs-toggle="collapse" data-bs-target="#scorecard-accordion-item-body-parent" aria-expanded="<%= !EDIT_ACCESS %>" aria-controls="scorecard-accordion-item-body-parent">
                            Scorecard
                        </button>
                    </h2>
                    <div id="scorecard-accordion-item-body-parent" class="accordion-collapse collapse<%= !EDIT_ACCESS ? ' show' : '' %>" aria-labelledby="scorecard-accordion-item-heading">
                        <div class="accordion-body p-3">
                            <div class="table-responsive">
                                <table id="round" class="table table-bordered table-striped">
                                    <thead class="table-dark">
                                        <tr>
                                            <th class="text-center align-middle" scope="col">
                                                Hole
                                            </th>
                                            <th scope="col">
                                                <div class="d-none d-md-block text-center text-capitalize">
                                                    <%= tee.measure.full %>
                                                </div>
                                                <div class="d-block d-md-none text-center text-capitalize">
                                                    <%= tee.measure.short %>
                                                </div>
                                            </th>
                                            <th class="text-center align-middle" scope="col">
                                                Par
                                            </th>
                                            <th class="text-center align-middle" scope="col">
                                                SI
                                            </th>
                                            <% for (const scores of playingGroups) { %>
                                            <% for (const score of scores) { %>
                                            <th scope="col">
                                                <div class="d-none d-md-block text-center text-capitalize">
                                                    <%= score.player.name.knownAs %>
                                                </div>
                                                <div class="d-block d-md-none text-center text-capitalize ">
                                                    <%= score.player.name.initials.short %>
                                                </div>
                                            </th>
                                            <% }; %>
                                            <% }; %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%- include('../partials/tables/rounds/table-row', { start: 1, end: 9 }) %>
                                        <tr class="table-dark">
                                            <td class="text-center align-middle text-uppercase">
                                                <div class="d-none d-md-block">
                                                    Out
                                                </div>
                                                <div class="d-block d-md-none">
                                                    O
                                                </div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.distance.front %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.par.front %>
                                            </td>
                                            <td></td>
                                            <% for (const scores of playingGroups) { %>
                                            <% for (const score of scores) { %>
                                            <td class="text-center align-middle">
                                                <%= score.scores.shots.front %>
                                            </td>
                                            <% }; %>
                                            <% }; %>
                                        </tr>
                                        <%- include('../partials/tables/rounds/table-row', { start: 10, end: 18 }) %>
                                        <tr class="table-dark">
                                            <td class="text-center align-middle text-uppercase">
                                                <div class="d-none d-md-block">
                                                    In
                                                </div>
                                                <div class="d-block d-md-none">
                                                    I
                                                </div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.distance.back %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.par.back %>
                                            </td>
                                            <td></td>
                                            <% for (const scores of playingGroups) { %>
                                            <% for (const score of scores) { %>
                                            <td class="text-center align-middle">
                                                <%= score.scores.shots.back %>
                                            </td>
                                            <% }; %>
                                            <% }; %>
                                        </tr>
                                        <tr class="table-dark">
                                            <td class="text-center align-middle text-uppercase">
                                                <div class="d-none d-md-block">
                                                    Total
                                                </div>
                                                <div class="d-none d-sm-block d-md-none">
                                                    Tot
                                                </div>
                                                <div class="d-block d-sm-none">
                                                    T
                                                </div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.distance.full %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= tee.par.full %>
                                            </td>
                                            <td></td>
                                            <% for (const scores of playingGroups) { %>
                                            <% for (const score of scores) { %>
                                            <td class="text-center align-middle">
                                                <%= score.scores.shots.full %>
                                            </td>
                                            <% }; %>
                                            <% }; %>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (EDIT_ACCESS) { %>
                <div class="accordion-item">
                    <h2 id="summary-accordion-item-heading" class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#summary-accordion-item-body-parent" aria-expanded="true" aria-controls="summary-accordion-item-body-parent">
                            Summary
                        </button>
                    </h2>
                    <div id="summary-accordion-item-body-parent" class="accordion-collapse collapse show" aria-labelledby="summary-accordion-item-heading">
                        <div class="accordion-body p-3">

                            <div class="row gy-3">
                                <div class="col-12">
                                    <div class="border border-1 border-primary rounded p-3">
                                        <div id="summary-score"
                                            class="gy-4 justify-content-center row row-cols-2 row-cols-md-4">
                                            <% for (const scores of playingGroups) { %>
                                            <% for (const score of scores) { %>
                                            <h4 class="col mb-0 px-0">
                                                <div class="row row-cols-1">
                                                    <div class="col text-center">
                                                        <div class="d-none d-md-block">
                                                            <%= score.player.name.knownAs %>
                                                        </div>
                                                        <div class="d-block d-md-none">
                                                            <%= score.player.name.initials.short %>
                                                        </div>
                                                    </div>
                                                    <div class="col text-center">
                                                        <span id="<%= score.playingGroup.player %>|score"><%= score.scores.shots.full %></span><span> (</span><span class="<%= score.classes.par.full %>" id="<%= score.playingGroup.player %>|par"><%= score.scores.par.full %></span><span>)</span>
                                                    </div>
                                                </div>
                                            </h4>
                                            <% }; %>
                                            <% }; %>
                                        </div>
                                    </div>
                                </div>
                                <% if (games.length > 0) { %>
                                <div class="col-12">
                                    <% } else { %>
                                    <div class="col-12 d-none" visibility="hidden">
                                        <% }; %>
                                        <div class="border border-1 border-primary rounded p-3">
                                            <div id="games-summary" class="row row-cols-auto gy-2 justify-content-center">
                                                <% for (const game of games) { %>
                                                <h5 class="col mb-0">
                                                    <%= `Game ${game.index} - ${game.summary}` %>
                                                </h5>
                                                <% }; %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }; %>
            </div>
        </div>
    </div>
</form>
<script>
    const ACTIONS = JSON.parse('<%- JSON.stringify(actions) %>');
    const GAMES = (function() {
        const GAMES = JSON.parse('<%- JSON.stringify(GAMES) %>');
        for (const key of Object.keys(GAMES)) {
            GAMES[key].map(i => {
                i.description = i.description.replace(/`/g, '\'');
                return i;
            });
        };
        return GAMES;
    })();
    const ROUND_TYPES = JSON.parse('<%- JSON.stringify(ROUND_TYPES) %>');
    const teeColours = JSON.parse('<%- JSON.stringify(teeColours) %>');
    const titles = JSON.parse('<%- JSON.stringify(titles) %>');
    let courses = JSON.parse('<%- JSON.stringify(courses) %>');
    let players = JSON.parse('<%- JSON.stringify(players) %>');
</script>
<% if (EDIT_ACCESS) { %>
<script src="/scripts/create-element.js"></script>
<!-- <script src="/scripts/rounds/shared-functions.js"></script> -->
<!-- <script src="/scripts/rounds/accordion-buttons.js"></script> -->
<!-- <script src="/scripts/rounds/change-date.js"></script> -->
<!-- <script src="/scripts/rounds/handle-modals.js"></script> -->
<!-- <script src="/scripts/rounds/pagination.js"></script> -->
<script src="/scripts/rounds/select-game.js"></script>
<!-- <script src="/scripts/rounds/update.js"></script> -->
<!-- <script src="/scripts/rounds/validate.js"></script> -->
<!-- <script src="/scripts/rounds/select-course.js"></script> -->
<!-- <script src="/scripts/rounds/select-player.js"></script> -->
<!-- <script src="/scripts/rounds/select-tee.js"></script> -->
<% }; %>