<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>New Round</h1>
</div>
<form class="row gy-3 pb-3 needs-validation" method="POST" action="/rounds" novalidate>
    <div class="col-12">
        <div class="accordion">
            <div class="accordion-item">
                <h2 id="round-heading" class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#round" aria-expanded="true" aria-controls="round" title="Round">
                        Round
                    </button>
                </h2>
                <div id="round" class="accordion-collapse collapse show" aria-labelledby="round-heading">
                    <div class="accordion-body p-3">
                        <div class="form-floating">
                            <input id="date" class="form-control" type="date" placeholder="Date" name="[round][date]" value="<%= date %>" required>
                            <label for="date">Date</label>
                            <div class="invalid-feedback">
                                <div class="d-flex justify-content-end">
                                    Please select a date.
                                </div>
                            </div>
                            <div id="date-caution" class="d-none d-flex justify-content-end feedback">
                                Note: changing the date to a different season will remove created demerits.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 id="course-heading" class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#course" aria-expanded="true" aria-controls="course" title="Course">
                        Course
                    </button>
                </h2>
                <div id="course" class="accordion-collapse collapse show" aria-labelledby="course-heading">
                    <div class="accordion-body p-3">
                        <div class="row g-2">
                            <div class="col">
                                <div class="form-floating">
                                    <select id="course-select" class="form-select text-capitalize text-wrap" aria-label="course" name="[course][id]" required>
                                        <option selected disabled>Select Course</option>
                                        <% for (const course of courses) { %>
                                        <option value="<%= course.id %>"><%= course.name %></option>
                                        <% }; %>
                                    </select>
                                    <label for="course-select">Course</label>
                                    <div class="invalid-feedback">
                                        <div class="d-flex justify-content-end">
                                            Please select a course.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none col-12 col-md-4" visibility="hidden">
                                <div class="form-floating">
                                    <select id="tee-select" class="form-select text-capitalize" aria-label="tee" name="[course][tee]"></select>
                                    <label for="tee-select">Tee</label>
                                </div>
                            </div>
                            <div class="d-none col-12" visibility="hidden">
                                <table id="tees" class="table table-sm table-bordered mb-0">
                                    <thead class="table-dark">
                                        <tr class="d-none d-lg-table-row">
                                            <th scope="col" rowspan="2">
                                                <div class="text-center">
                                                    Tee
                                                </div>
                                            </th>
                                            <th scope="col" rowspan="2">
                                                <div class="text-center">
                                                    Par
                                                </div>
                                            </th>
                                            <th scope="col" colspan="3">
                                                <div class="text-center">
                                                    Course Rating
                                                </div>
                                            </th>
                                            <th scope="col" rowspan="2">
                                                <div class="text-center">
                                                    Bogey Rating
                                                </div>
                                            </th>
                                            <th scope="col" colspan="3">
                                                <div class="text-center">
                                                    Slope Rating
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="d-table-cell d-lg-none" scope="col">
                                                <div class="text-center">
                                                    Tee
                                                </div>
                                            </th>
                                            <th class="d-table-cell d-lg-none" scope="col">
                                                <div class="text-center">
                                                    Par
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-none d-lg-block text-center">
                                                    18
                                                </div>
                                                <div class="d-block d-lg-none text-center">
                                                    Course
                                                </div>
                                            </th>
                                            <th class="d-none d-lg-table-cell" scope="col">
                                                <div class="text-center">
                                                    Front
                                                </div>
                                            </th>
                                            <th class="d-none d-lg-table-cell" scope="col">
                                                <div class="text-center">
                                                    Back
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <div class="d-none d-lg-block text-center">
                                                    18
                                                </div>
                                                <div class="d-block d-lg-none text-center">
                                                    Slope
                                                </div>
                                            </th>
                                            <th class="d-none d-lg-table-cell" scope="col">
                                                <div class="text-center">
                                                    Front
                                                </div>
                                            </th>
                                            <th class="d-none d-lg-table-cell" scope="col">
                                                <div class="text-center">
                                                    Back
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 id="players-heading" class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#players" aria-expanded="true" aria-controls="players" title="Players">
                        Players
                    </button>
                </h2>
                <div id="players" class="accordion-collapse collapse show" aria-labelledby="players-heading">
                    <div class="accordion-body p-3">
                        <div class="row gy-3">
                            <div class="col-12 d-flex">
                                <div class="flex-grow-1">
                                    <div class="row g-2">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select id="marker|id" class="form-select text-capitalize" name="[marker][id]"<%= currentUser ? " disabled" : " required" %>>
                                                    <% if (currentUser) { %>
                                                    <option value="<%= currentUser.id %>" selected><%= currentUser.name.knownAs %></option>
                                                    <% } else { %>
                                                    <option selected disabled>Select Player</option>
                                                    <% for (const player of players) { %>
                                                    <option value="<%= player.id %>"><%= player.name.knownAs %></option>
                                                    <% }; %>
                                                    <option value="new">New Player</option>
                                                    <% }; %>
                                                </select>
                                                <label for="marker|id" class="text-capitalize">Marker</label>
                                                <% if (currentUser) { %>
                                                <input class="d-none" value=<%= currentUser.id %> name="[marker][id]" visibility="hidden">
                                                <% } else { %>
                                                <div class="invalid-feedback">
                                                    <div class="d-flex justify-content-end">
                                                        Please select a marker.
                                                    </div>
                                                </div>
                                                <% }; %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <button id="add-player" class="btn btn-success w-100" type="button">Add Player</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 id="game-heading" class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#game" aria-expanded="true" aria-controls="game" title="Games">
                        Games
                    </button>
                </h2>
                <div id="game" class="accordion-collapse collapse show" aria-labelledby="game-heading">
                    <div class="accordion-body p-3">
                        <div class="row gy-3">
                            <div class="col-12 d-none" visibility="hidden">
                                <div class="accordion"></div>
                            </div>
                            <div class="col-12 mt-3">
                                <button id="play-game" class="btn btn-success w-100" type="button">Play Game</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 id="scorecard-heading" class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#scorecard" aria-expanded="true" aria-controls="scorecard" title="Scorecard">
                        Scorecard
                    </button>
                </h2>
                <div id="scorecard" class="accordion-collapse collapse show" aria-labelledby="scorecard-heading">
                    <div class="accordion-body p-3">
                        <div class="row gy-3">
                            <div class="col-12 d-none" visibility="hidden">
                                <div class="border border-1 border-primary rounded p-3">
                                    <div id="summary-score" class="row row-cols-3 row-cols-md-auto gy-4 justify-content-center"></div>
                                </div>
                            </div>
                            <div class="col-12 d-none" visibility="hidden">
                                <div class="border border-1 border-primary rounded p-3">
                                    <div id="games-summary" class="row row-cols-auto gy-2 justify-content-center"></div>
                                </div>
                            </div>
                            <div class="col-12 d-none" visibility="hidden">
                                <div class="border border-1 border-primary rounded p-3">
                                    <div class="row gy-2">
                                        <% for (let i = 1; i < 19; i++) { %>
                                        <div id="hole-<%= i %>" class="<%= i > 1 ? "d-none " : "" %>col-12"<%= i > 1 ? " visibility=hidden" : "" %>>
                                            <div class="row justify-content-md-center row-cols-1 row-cols-md-2 g-4">
                                                <div class="col d-none" visibility="hidden">
                                                    <div class="mb-2 border-bottom border-1">
                                                        <h5>Hole <%= i %></h5>
                                                    </div>
                                                    <table class="table table-sm table-bordered hole mb-0 lh-lg">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <td scope="col">
                                                                    <div class="text-center">
                                                                        Tee
                                                                    </div>
                                                                </td>
                                                                <td scope="col">
                                                                    <div class="d-none d-md-block text-center distance-long">
                                                                        Yards
                                                                    </div>
                                                                    <div class="d-block d-md-none text-center distance-short">
                                                                        Yds
                                                                    </div>
                                                                </td>
                                                                <td scope="col">
                                                                    <div class="text-center">
                                                                        Par
                                                                    </div>
                                                                </td>
                                                                <td scope="col">
                                                                    <div class="text-center">
                                                                        SI
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div class="col d-none" visibility="hidden">
                                                    <div class="mb-2 border-bottom border-1">
                                                        <h5>Players</h5>
                                                    </div>
                                                    <div id="players-<%= i %>" class="row gy-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }; %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-none" visibility="hidden">
                                <ul class="d-flex justify-content-center pagination mb-0">
                                    <li class="d-none page-item" data-hole="1" data-hole-end="9">
                                        <div class="nine-holes page-link text-center px-1">
                                            Front
                                        </div>
                                    </li>
                                    <% for (let i = 1; i < 7; i++) { %>
                                    <li class="page-item<%= i === 1 ? " active" : "" %>" data-hole="<%= i %>">
                                        <div class="individual-hole page-link text-center px-0">
                                            <%= i %>
                                        </div>
                                    </li>
                                    <% }; %>
                                    <li class="d-none page-item" data-hole="1" data-hole-end="6">
                                        <div class="six-holes page-link text-center px-1">
                                            1 - 6
                                        </div>
                                    </li>
                                    <% for (let i = 7; i < 10; i++) { %>
                                    <li class="d-none d-sm-block page-item" data-hole="<%= i %>">
                                        <div class="individual-hole page-link text-center px-0">
                                            <%= i %>
                                        </div>
                                    </li>
                                    <% }; %>
                                    <% for (let i = 10; i < 13; i++) { %>
                                    <li class="d-none d-md-block page-item" data-hole="<%= i %>">
                                        <div class="individual-hole page-link text-center px-0">
                                            <%= i %>
                                        </div>
                                    </li>
                                    <% }; %>
                                    <li class="d-sm-none page-item" data-hole="7" data-hole-end="12">
                                        <div class="six-holes page-link text-center px-1">
                                            7 - 12
                                        </div>
                                    </li>
                                    <% for (let i = 13; i < 19; i++) { %>
                                    <li class="d-none d-md-block page-item" data-hole="<%= i %>">
                                        <div class="individual-hole page-link text-center px-0">
                                            <%= i %>
                                        </div>
                                    </li>
                                    <% }; %>
                                    <li class="d-sm-none page-item" data-hole="13" data-hole-end="18">
                                        <div class="six-holes page-link text-center px-1">
                                            13 - 18
                                        </div>
                                    </li>
                                    <li class="d-none d-sm-block d-md-none page-item" data-hole="10" data-hole-end="18">
                                        <div class="nine-holes page-link text-center px-1">
                                            Back
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="button-parent" class="col-12">
        <div class="row mx-2 gx-4">
            <div class="col-4 d-flex">
                <a class="btn btn-warning flex-fill" href="/rounds">Back</a>
            </div>
            <div class="col-4 d-flex">
                <button id="reset" class="btn btn-primary flex-fill" type="button" data-bs-toggle="modal" data-bs-target="#reset-modal">Reset</button>
            </div>
            <div class="col-4 d-flex">
                <button id="submit" class="btn btn-success flex-fill" type="button" data-bs-toggle="modal" data-bs-target="#confirmation-modal">Submit</button>
            </div>
        </div>
    </div>
    <div id="confirmation-modal" class="modal fade" tabindex="-1" aria-labelledby="confirmation-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="confirmation-label" class="modal-title">Are you sure you want to submit the round?</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
                    <input id="submit-confirmation" class="btn btn-success" type="submit" value="Yes">
                </div>
            </div>
        </div>
    </div>
</form>
<div id="course-search-modal" class="modal fade" tabindex="-1" aria-labelledby="course-search-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="course-search-modal-label" class="modal-title">Find course</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <select id="country-select" class="form-select text-capitalize" aria-label="country">
                                <option selected>Select country</option>
                                <% for (const country of countryCodes) { %>
                                <option value="<%= country.name %>"><%= country.name %></option>
                                <% }; %>
                            </select>
                            <label for="country-select">Country</label>
                        </div>
                    </div>
                    <div class="col-12 d-none" visibility="hidden">
                        <div class="form-floating">
                            <select id="region-select" class="form-select text-capitalize" aria-label="region">
                                <option selected>Select region</option>
                            </select>
                            <label for="region-select">Region</label>
                            <div class="invalid-feedback">
                                <div class="d-flex justify-content-end">
                                    Please select a region.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-none" visibility="hidden">
                        <div class="form-floating">
                            <input id="city" class="form-control" type="text" placeholder="City/Town">
                            <label for="city">City/Town</label>
                            <div class="invalid-feedback">
                                <div class="d-flex justify-content-end">
                                    Please enter a city/town.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input id="course-name" class="form-control" type="text" placeholder="Club/Course Name">
                            <label for="course-name">Club/Course Name</label>
                            <div class="invalid-feedback">
                                <div class="d-flex justify-content-end">
                                    Please enter a club/course name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button id="search-course" class="btn btn-primary" type="button">Search</button>
                        <div class="d-flex align-items-center fw-lighter">
                            Powered by The R&A
                        </div>
                    </div>
                    <div class="col-12 d-none" visibility="hidden">
                        <div id="feedback" class="d-flex justify-content-end invalid-feedback">
                            No new courses found.
                        </div>
                    </div>
                    <div class="col-12 d-none" visibility="hidden">
                        <table id="courses" class="table table-sm table-striped table-hover table-bordered mb-0">
                            <thead class="table-dark">
                                <th scope="col">
                                    <div class="text-center">
                                        Name
                                    </div>
                                </th>
                                <th class="d-none d-md-table-cell" scope="col">
                                    <div class="text-center">
                                        City/Town
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="text-center">
                                        Region
                                    </div>
                                </th>
                                <th class="d-none d-lg-table-cell" scope="col">
                                    <div class="text-center">
                                        Country
                                    </div>
                                </th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="new-player-modal" class="modal fade" tabindex="-1" aria-labelledby="new-player-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="new-player-modal-label" class="modal-title">New Player</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-2 gy-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input id="player-name" class="form-control" type="text" placeholder="Full Name">
                            <label for="player-name">Name</label>
                            <div class="invalid-feedback">
                                <div class="d-flex justify-content-end">
                                    Please enter the player's name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input id="player-handicap" class="form-control" type="number" max="54.0" step="0.1" placeholder="Handicap">
                            <label for="player-handicap">Handicap</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add-new-player" class="btn btn-success" type="button">Add</button>
            </div>
        </div>
    </div>
</div>
<div id="reset-modal" class="modal fade" tabindex="-1" aria-labelledby="reset-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="reset-modal-label" class="modal-title">Are you sure you want to reset the round?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
                <button id="reset-submit" class="btn btn-danger" type="button" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<script>
    const ACTIONS = JSON.parse('<%- JSON.stringify(actions) %>');
    const GAMES = (function() {
        const GAMES = JSON.parse('<%- JSON.stringify(GAMES) %>');
        for (const key of Object.keys(GAMES)) {
            GAMES[key].map(i => {
                i.description = i.description.replace(/`/g, '\'');
                return i;
            });
        };
        return GAMES;
    })();
    const ROUND_TYPES = JSON.parse('<%- JSON.stringify(ROUND_TYPES) %>');
    const rules = JSON.parse('<%- JSON.stringify(rules) %>').map(rule => {
        rule.rules.map(rule => {
            rule.description = rule.description.map(description => decodeURI(description).replace(/`/g, '\''));
            return rule;
        });
        return rule;
    });
    const teeColours = JSON.parse('<%- JSON.stringify(teeColours) %>');
    const titles = JSON.parse('<%- JSON.stringify(titles) %>');
    let courses = JSON.parse('<%- JSON.stringify(courses) %>');
    let players = JSON.parse('<%- JSON.stringify(players) %>');
</script>
<script src="/scripts/create-element.js"></script>
<script src="/scripts/demerits/select-rule.js"></script>
<script src="/scripts/rounds/shared-functions.js"></script>
<script src="/scripts/rounds/demerits/add.js"></script>
<script src="/scripts/rounds/demerits/remove.js"></script>
<script src="/scripts/rounds/demerits/update-references.js"></script>
<script src="/scripts/rounds/demerits/validate.js"></script>
<script src="/scripts/rounds/accordion-buttons.js"></script>
<script src="/scripts/rounds/change-date.js"></script>
<script src="/scripts/rounds/connection.js"></script>
<script src="/scripts/rounds/handle-modals.js"></script>
<script src="/scripts/rounds/pagination.js"></script>
<script src="/scripts/rounds/register-service-worker.js"></script>
<script src="/scripts/rounds/select-game.js"></script>
<script src="/scripts/rounds/update.js"></script>
<script src="/scripts/rounds/validate.js"></script>
<script src="/scripts/rounds/select-course.js"></script>
<script src="/scripts/rounds/select-player.js"></script>
<script src="/scripts/rounds/select-tee.js"></script>